/* User Account */
/* 
.useraccount {
    position: absolute;
    top: 0px;
    margin-left:90%;
    width: 0px;
    left: 0;
    background-color: transparent; 
    border-bottom: transparent;
    cursor: pointer;
    font-size: 17px
} 
.useraccount .list1 {
    width: 200px;
    height: 110px;
    border-radius: 10px;
    margin-top: 100px;
    margin-left:0%;
    background-color: white;
    box-shadow: 2px 3px 10px 1px silver;
    display: none;
}
.useraccount .list1  {
    margin-left: -135px
}
.useraccount .list1:after {
    content: '';
    position: absolute;
    border-left:18px solid transparent;
    border-right:18px solid transparent;
    border-bottom: 18px solid white;
    margin-left: 140px;
    top:-18px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
}

.useraccount .list1 ul li {
    list-style-type: none;
    width: 200px;
    padding-bottom: 20px;
    text-align: center;
    left: 0;
    margin-left: 0px;
    position: relative; 
    font-family: sans-serif;
    font-weight: bold;
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    cursor: pointer;
}

#usericon:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/user-solid.svg");
    background-size: 100% 100%;
    position: relative;
    left: 3vh;
    top: 3vh
}*/
@media screen and (max-width:1025px) {
        
    #usericon:before {
        left: 2vh;
        top: 2vh
    }
        
    #logouticon:before{
        left: 2vh !important;
        top: 2vh !important
    }

}
#logouticon {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none !important
}

#logouticon a {border-bottom: transparent}
#logouticon:hover {
    background-color: black;
    height: 33px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


#logouticon:before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/sign-out-alt-solid.svg");
    background-size: 100% 100%;
    position: relative;
    left: 3vh;
    top: 3vh;
}


/* CONTACT */

.mainContainer
{
    background-color: #FFFDE8;
    margin-top: -100px
}
body {
    background-color: #FFFDE8
}

/* Header */

header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 110px;
    background-color: black;
    font-size: 50px;
    position: fixed;
    z-index: 2000;
}

#header-div {
    border-bottom: 4px solid orange;
    width: 100%;
    height: 110px;
    position: fixed;
    z-index: 2000;
}

.Logo_header {
    width: 700px;
    height: 90px;
    position: fixed;
    left: -120px;
    z-index: 2000;
}

/* Menu */

.sub:after {
    background-image: url("../img/Arrow.svg");
    width: 1em;
    height: 1em;
    margin-top: 25px;
    content: "";
    left: 300px;
    background-size: 100% 100%;
    position: absolute;
}

.panel-header {
    margin-top: 2%;
    font-size: 2rem;
    color: #2e2d2d;
   font-weight: bold;
   font-family: sans-serif;
}
.contact-container form {
    width: 70%;
    margin: auto;
}

@media screen and (max-width:1025px) {
    .contact-container form {
      width: 70%;
    }
    .panel-header {
       font-size: 1.8rem;
     }
}
@media screen and (max-width:769px) {
    .contact-container form {
      width: 80%;
    }
    .panel-header {
       font-size: 1.5rem;
     }
}
@media screen and (max-width:415px) {
    .contact-container form {
      width: 90%;
    }
    .panel-header1 {
       margin-top: 4%;
       font-size: 1.1rem;
       letter-spacing: 0.5px
     }
}

/* Contact */

#contact-page {
    margin-left: 27.5%;
    width: 72%;
    height: auto !important;
}

#contact-page h1 {
    font-size: 30px;
    font-weight: bolder;
    color: #2e2d2d;
    font-family: sans-serif;
    width: auto;
    margin-top: 160px;
    margin-left: 220px;
}
#contact-page input
{
    background-color: #FFFDE8
}

#contact-page input:nth-of-type(1){
    width: 400px;
    height: 30px;
    border: 2px solid transparent;
    border-bottom: 2px solid black !important;
    margin-top: 50px;
    margin-left: 300px;
}

#contact-page input:nth-of-type(2){
    margin-top: 50px;
    margin-left: 300px;
    width: 400px;
    height: 30px;
    border: 2px solid transparent;
    border-bottom: 2px solid black !important
}

#contact-page textarea{
    resize: none;
    background: #FFFDE8;
    margin: 0 auto;
    margin-left: 20%;
    margin-top: 10%;
    width: 600px;
    height: 150px;
    border: 2px solid black;
}

#contact-page input:nth-of-type(3)::placeholder {
    margin-top: -50px;
}

form.contact-page button p {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 30px;
    color: white;
}

form.contact-page p:nth-of-type(1) {
    font-weight: bolder;
    font-size: 25px;
    margin-left:180px;
    margin-top: 380px;
}

/* Contact - Media - 1024 */
@media screen and (max-width:1025px){
    /* ----------------------------Main Container--------------------------- */

    .useraccount .list1 {
        display: none;
    }

    .sub:after {
        width: 1em;
        height: 1em;
        content: "";
        left: 85%;
    }

    #contact-page h1 {
        margin-left: 150px;
        font-size: 30px
    }
    #contact-page input:nth-of-type(1) {
        margin-left: 150px
    }

    #contact-page input:nth-of-type(2) {
        margin-left: 150px;
    }
    #contact-page textarea {
        resize: none;
        background: #FFFDE8;
        margin-left: 100px;
        width: 500px;
        height: 150px;
        border: 2px solid black;
    }
   
    

}

/* Contact - Media - 768 */
@media screen and (max-width:769px) {
    body {
        background-color: #FFFDE8
    }
    header {
        z-index: 2;
    }

    .useraccount .list1 {
        display: none;
    }

    .mainList {
        display: none
    }

    /* Contact */

    #contact-page {
        top: 0px;
        margin-left: 0%;
        width: 100%;
    }

    #contact-page h1 {
        font-size: 30px;
        width: 500px;
        left: 170px;
    }

    #contact-page input:nth-of-type(1){
        left: 170px;
        top: 200px;
    }

    #contact-page input:nth-of-type(2){
        left: 170px;
        top: 300px;
    }

    #contact-page textarea{
        background: #FFFDE8;
        resize: none;
        width: 510px;
        height: 150px;
    }

  
}

/* Contact - Media - 414 */
@media screen and (max-width: 415px) {

    body {
        background-color: #FFFDE8
    }
    header {
        z-index: 2;
    }
    .Logo_header {
        width: 300px;
        height: 90px;
        position: absolute;
        left: 20px;
    }
   
    .mainList {
        display: none
    }

    /* Contact */

    #contact-page {
        top: 0px;
        margin-left: 0%;
        width: 100%;
        margin-top: 100px
    }

    #contact-page h1 {
        font-size: 20px;
        width: 280px;
        margin-left: 70px !important;
        top: 50px
    }

    #contact-page input:nth-of-type(1){
        margin-left: 100px !important;
        margin-top: 40px;
        width: 200px;
        border-bottom: 2px solid
    }

    #contact-page input:nth-of-type(2){
        margin-left: 100px !important;
        margin-top:30px;
        width: 200px;
        border-bottom: 2px solid
    }

    #contact-page textarea{
        background: #FFFDE8;
        resize: none;
        margin-top: 50px;
        margin-left: 80px !important;
        width: 250px;
        height: 150px;
    }

}

/* Contact - Media - 375 */
@media screen and (max-width: 376px) {

      /* Contact */

    #contact-page {
        top: 0px;
        margin-left: 0%;
        width: 100%;
        margin-top: 100px
    }

    #contact-page h1 {
        font-size: 20px;
        width: 280px;
        margin-left: 50px !important;
        top: 50px
    }

    #contact-page input:nth-of-type(1){
        margin-left: 100px;
        margin-top: 40px;
        width: 200px;
        border-bottom: 2px solid
    }

    #contact-page input:nth-of-type(2){
        margin-left: 100px;
        margin-top:30px;
        width: 200px;
        border-bottom: 2px solid
    }

    #contact-page textarea{
        background: #FFFDE8;
        resize: none;
        margin-top: 50px;
        margin-left: 60px !important;
        width: 250px;
        height: 150px;
    }

}

/* Contact - Media - 320 */
@media screen and (max-width:321px) {
    .Logo_header {
        width: 200px;
        height: 90px;
        position: absolute;
        left: 10px;
    }

      /* Contact */

      #contact-page {
        top: 0px;
        margin-left: 0%;
        width: 100%;
        margin-top: 100px
    }

    #contact-page h1 {
        font-size: 15px;
        width: 260px;
        margin-left: 55px !important;
        top: 50px
    }

    #contact-page input:nth-of-type(1){
        margin-left: 80px;
        margin-top: 40px;
        width: 150px;
        border-bottom: 2px solid
    }

    #contact-page input:nth-of-type(2){
        margin-left: 80px;
        margin-top:30px;
        width: 150px;
        border-bottom: 2px solid
    }

    #contact-page textarea{
        background: #FFFDE8;
        resize: none;
        margin-top: 50px;
        margin-left: 55px !important;
        width: 200px;
        height: 150px;
    }

}

/* REFERRAL */

#referral {color: orange !important}

#referral-page {
    margin-top: 100px;
    margin-left: 27.5%;
    width: 70%;
    z-index: 999
}

#referral-page q  {
    font-size: 30px;
   color: #2e2d2d;
   font-weight: bold;
   font-family: sans-serif;
   margin-top: 120px !important;
   margin-left: 40px
}

.referral-page_firstList {
    list-style-type:inherit;
    margin-top: 40px;
    margin-left: 60px;
    color: #2e2d2d;
    font-family: sans-serif;
    line-height: 2;
    font-size: 25px
}

#referral-page blockquote {
    font-size: 25px;
    color: #2e2d2d;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 30px;
    margin-left: 40px;
 }

 #referral-page p {
     font-size: 25px;
     font-family: sans-serif;
     color: #2e2d2d;
     margin-top: -55px;
     margin-left: 240px;
 }

 #referral-page dl {
    font-size: 25px;
    color: #2e2d2d;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 40px;
    margin-left: 40px;
}

#referral-page p:nth-of-type(2) {
    font-size: 25px;
    font-family: sans-serif;
    color: #2e2d2d;
    top: 400px;
    margin-left: 410px;
}

.referral-page_secondList
 {
     display: flex;
     flex-flow: row wrap;
     float: left;
     margin-bottom: 30px
 }

 .referral-page_secondList_column
{
    flex-grow: 1;
    margin-top: 50px;
    font-size: 25px;
    color: #2e2d2d;
    font-family: sans-serif;
    left: 50px;;
    height: 100px;
    margin-left:40px
}

.referral-page_secondList_column ul li {
    width: auto;
    margin-top: 5%;
    font-size: 30px;
    font-weight: bolder !important
}

/* Referral - Media - 1024 */
@media screen and (max-width:1025px){
    /* ---------------=====Media====-------------Main Container--------------------------- */

    .sub:after {
        width: 1em;
        height: 1em;
        content: "";
        left: 85%;
    }

/* =======----media----==========================Referral==================================== */


    #referral-page q  {
        font-size: 25px;
        color: #2e2d2d;
        font-weight: bold;
        font-family: sans-serif;
        top: 80px;
        left: 40px;
    }

    .referral-page_firstList {
        font-size: 20px
    }

    #referral-page blockquote {
        font-size: 20px;
    }

    #referral-page p {
        font-size: 20px;
    }

    #referral-page dl {
    font-size: 20px;
    }

    #referral-page p:nth-of-type(2) {
        font-size: 20px;

    }
    .referral-page_secondList_column ul li {
        width: 120px;
        margin-top: 15%;
        font-size: 30px;
    }

    .referral-page_secondList_column
    {
        flex-grow: 1;
        top: 500px;
        font-size: 20px;
        color: #2e2d2d;
        font-family: sans-serif;
        margin-left: 5%
    }
   

}

/* Referral - Media - 768 */
@media screen and (max-width:769px) {

        #header-div {
            border-bottom: 4px solid orange;
            width: 100%;
            height: 110px;
            position: relative;
            z-index: 2;

        }
        header {
            z-index: 2;
        }
        .Logo_header {
            height: 90px;
            position: absolute;
        }
      
        .mainList {
            display: none
        }

        /* ==================================Referral================================ */

    #referral-page {
        margin-left: 0%;
        width: 100%;
        margin-top: 50px;
    }

    #referral-page q  {
        font-size: 27px;
    }

    #referral-page_firstList {
        font-size: 22px
    }

    #referral-page blockquote {
        font-size: 22px;
    }

    #referral-page p {
        font-size: 22px;
    }

    #referral-page dl {
        font-size: 22px;
    }

    #referral-page p:nth-of-type(2) {
        font-size: 25px;
        font-family: sans-serif;
        color: #2e2d2d;
        top: 400px;
        margin-left: 410px;

    }

    .referral-page_secondList_column
    {
        top: 480px;
        font-size: 20px;
    }

    .referral-page_secondList_column ul li {
        width: 100px;
        margin-top: 15%;
        font-size: 27px;
        font-weight: bolder !important;
    }

   
    
}

/* Referral - Media - 414 */
@media screen and (max-width:415px) {
    #header-div {
        border-bottom: 4px solid orange;
        width: 100%;
        height: 110px;
        position: relative;
        z-index: 2;

    }
    header {
        z-index: 2;
    }
    .Logo_header {
        width: 300px;
        height: 90px;
        position: absolute;
        left:30px
    }

    .mainList {
        display: none
    }

    /* Referral */

    #referral-page {
        margin-top: 10px;
        margin-left: 0%;
        width: 100%;
    }

    #referral-page q  {
        font-size: 20px;
        color: #2e2d2d;
        font-weight: bold;
        font-family: sans-serif;
        top: 60px;
        margin-left: 30px
    }

    .referral-page_firstList {
        list-style-type:inherit;
        top: 100px;
        margin-left: 50px;
        color: #2e2d2d;
        font-family: sans-serif;
        line-height: 2;
        font-size: 17px;
        width: 350px
    }

    #referral-page blockquote {
        font-size: 20px;
        color: #2e2d2d;
        font-weight: bold;
        font-family: sans-serif;
        top: 330px;
        margin-left: 30px;
    }

    #referral-page p {
        font-size: 20px;
        font-family: sans-serif;
        color: #2e2d2d;
        top: 310px;
        margin-left: 180px;
    }

    #referral-page dl {
        font-size: 17px;
        color: #2e2d2d;
        font-weight: bold;
        font-family: sans-serif;
        top: 400px;
        margin-left: 30px;
    }

    #referral-page p:nth-of-type(2) {
        font-size: 17px;
        font-family: sans-serif;
        color: #2e2d2d;
        top: 400px;
        margin-left: 280px;
        width: 50px
    }

    .referral-page_secondList
    {
        display: flex;
        flex-flow: row wrap;
        float: left;
    }

    .referral-page_secondList_column
    {
        flex-grow: 1;
        top: 500px;
        font-size: 20px;
        color: #2e2d2d;
        font-family: sans-serif;
        margin-left: 0px;;
        height: 100px;
        margin-left:40px
    }

    .referral-page_secondList_column ul li {
        width: auto;
        margin-top: 5%;
        font-size: 30px;
        font-weight: bolder !important;
    }

   


}

/* Referral - Media - 375 */
@media screen and (max-width:376px) {
   
    .Logo_header {
        width: 200px;
        height: 90px;
        position: absolute;
        left: 40px;
    }

    .referral-page_firstList {
        list-style-type:inherit;
        top: 100px;
        margin-left: 40px;
        color: #2e2d2d;
        font-family: sans-serif;
        line-height: 2;
        font-size: 17px;
        width: 280px
    }
    #referral-page blockquote {
        font-size: 18px;
        color: #2e2d2d;
        font-weight: bold;
        font-family: sans-serif;
        top: 330px;
        margin-left: 30px;
    }

    #referral-page p {
        font-size: 18px;
        font-family: sans-serif;
        color: #2e2d2d;
        top: 310px;
        margin-left: 160px;
    }

    #referral-page dl {
        font-size: 16px;
        color: #2e2d2d;
        font-weight: bold;
        font-family: sans-serif;
        top: 400px;
        margin-left: 30px;
    }

    #referral-page p:nth-of-type(2) {
        font-size: 17px;
        font-family: sans-serif;
        color: #2e2d2d;
        top: 400px;
        margin-left: 280px;
        width: 50px
    }

    
}

/* Referral - Media - 320 */
@media screen and (max-width: 321px) {
 

    .referral-page_firstList {
        list-style-type:inherit;
        top: 100px;
        margin-left: 40px;
        color: #2e2d2d;
        font-family: sans-serif;
        line-height: 2;
        font-size: 15px;
        width: 250px
    }

    #referral-page blockquote {
        font-size: 16px;
        color: #2e2d2d;
        font-weight: bold;
        font-family: sans-serif;
        top: 330px;
        margin-left: 30px;
    }

    #referral-page p {
        font-size: 15px;
        font-family: sans-serif;
        color: #2e2d2d;
        top: 315px;
        margin-left: 140px;
    }

    #referral-page dl {
        font-size: 15px;
        color: #2e2d2d;
        font-weight: bold;
        font-family: sans-serif;
        top: 400px;
        margin-left: 30px;
        line-height: 1.5
    }

     #referral-page p:nth-of-type(2) {
        font-size: 17px;
        font-family: sans-serif;
        color: #2e2d2d;
        top: 425px;
        margin-left:250px;
        width: 50px
    }


}

/* ACTIVITY */

/* Menu */

.navbar {
    height: 130px;
    border-bottom: 2px solid #727272;
    background: rgb(39, 38, 38);
    font-family: helvetica
}

.sub:after {
    background-image: url("img/Arrow.svg");
    width: 1em;
    height: 1em;
    margin-top: 25px;
    content: "";
    left: 300px;
    background-size: 100% 100%;
    position: absolute;
}

#dashboard:before {
    content: "";
    background-image: url("img/Dashboard.svg");
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    position: absolute;
    left: -60px;
    top: 15px
}
#activity:hover{
    color: white !important;
}
#activity:before {
    content: '';
    background-image: url("img/Activity.svg");
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    position: absolute;
    left: -80px;
    top: 15px
}

#referral:before {
    content: "";
    background-image: url("img/Referral.svg");
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    position: absolute;
    left: -80px;
    top: 15px
}

#setting:before {
    content: "";
    background-image: url("img/Setting.svg");
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    position: absolute;
    left: -85px;
    top: 15px
}

.contact {
    border-bottom: 1px solid transparent !important
}

#contact:before {
    content: "";
    background-image: url("img/contact.svg");
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    position: absolute;
    left: -80px;
    top: 18px
}

/* Activity */

 #activity {color: orange !important}

  .activity-container h2 {
    font-size: 30px;
    color: #2e2d2d;
    font-weight: bold;
    font-family: sans-serif;
 }

 .purchases q {
    width: 200px;
    height: 40px;
    text-align: center;
    border-bottom: 2px solid #3a393986;
    font-size: 30px;
    color: #2e2d2d;
    font-weight: bold;
    font-family: sans-serif;
    margin: auto;
    display: block
 }

#nopur {
    font-size: 30px;
    margin: 15% 35%
}

.mainList2 {display: none}

.Transactions q {
   width: 220px;
   height: 40px;
   text-align: center;
   border-bottom: 2px solid #3a393986;
   font-size: 30px;
   color: #2e2d2d;
   font-weight: bold;
   font-family: sans-serif;
   margin: auto;
   display: block
}
.container ,
 #activity-page_thirdList {
    max-height: 300px
}

.container table {
    height: 150px
}
 #Transactions-list
 {
     margin-top: 30px;
     width: 100%;
     height: 100px !important;
     float:left;
 }
 
#Transactions-list tr
{
    flex-grow: 1;
    margin-top: 30px;
    font-size: 15px;
    color: #2e2d2d;
    font-weight: bolder;
    font-family: sans-serif;
     width: 95%;
     margin-left: 5%;
    text-align: left;
    display: block
}

#Transactions-list tr th  {
    font-weight: normal !important;
    width: 150px;
    margin-top: 10px;
    width: 30.4%;
    font-size: 24px;
    margin-left: -2% !important;
    height: 40px;
    color: #2e2d2d;
}

#Transactions-list tr td { 
    font-weight: bolder;
    font-weight: normal !important;
    width: 150px;
    margin-left: 0% !important;
    margin-top: 00px;
    width: 30.2%;
    font-size: 20px;
    height: 70px;
    color: #2e2d2d;
}
#Transactions-list tr td:nth-of-type(3) {
    margin-top: -5px;
}

.tooltip1 {
    position: relative;
  }
  
  .tooltip1 .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    margin-left: -50%
  }
  
  .tooltip1:hover .tooltiptext {
    visibility: visible;
  }


/* Activity-Media-1024 */
@media screen and (max-width:1025px)
{
    /* ---------------=====Media====-------------Main Container--------------------------- */

    .sub:after {
        width: 1em;
        height: 1em;
        content: "";
        left: 85%;
    }

    #dashboard:before {
        content: "";
        width: 30px;
        height: 30px;
        left: -40px;
    }

    #activity:before {
        content: "";
        width: 30px;
        height: 30px;
        left: -55px;
    }

    #contact:before {
        content: "";
        width: 30px;
        height: 30px;
        left: -55px;
    }

    #setting:before {
        content: "";
        width: 30px;
        height: 30px;
        left: -55px;
    }

    #referral:before {
        content: "";
        width: 30px;
        height: 30px;
        left: -55px;
    }

    /* =============--media--================Activity=============================== */

    blockquote {
       font-size: 25px;
    }

    .purchases q {
       width: 170px;
       height: 30px;
       font-size: 25px;
    }

   .Transactions q {
      width: 180px;
      height: 30px;
      font-size: 25px;
    }
    #Transactions-list
    {
        margin-top: 30px;
        width: 98%;
        height: 300px;
        float:left;
    }
    
    #Transactions-list tr
   {
       flex-grow: 1;
       margin-top: 30px;
       font-size: 15px;
       color: #2e2d2d;
       font-weight: bolder;
       font-family: sans-serif;
        width: 95%;
        margin-left: 5%;
       text-align: left;
       display: block
   }
   
   #Transactions-list tr th  {
       font-weight: normal !important;
       width: 150px;
       margin-top: 10px;
       width: 29.6%;
       font-size: 24px;
       margin-left: -2% !important;
       height: 40px;
       color: #2e2d2d;
   }
   
   #Transactions-list tr td { 
       font-weight: bolder;
       font-weight: normal !important;
       width: 150px;
       margin-left: 0% !important;
       margin-top: 10px;
        width: 29.4%;
        font-size: 20px;
       height: 70px;
       color: #2e2d2d;
   }

}

/* Activity-Media-768 */
@media screen and (max-width: 769px) 
{

    header {
        z-index: 2;
        width: 768px;
    }
   
    .mainList {
        display: none
    }

    #dashboard:before {
        content: "";
        background-image: url("img/Dashboard.svg");
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
        position: absolute;
        left: -30px;
        top: 0px
    }

    #activity:before {
        content: "";
        background-image: url("img/Activity.svg");
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
        position: absolute;
        left: -30px;
        top: 0px
    }

    #referral:before {
        content: "";
        background-image: url("img/Referral.svg");
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
        position: absolute;
        left: -30px;
        top: 0px
    }

    #setting:before {
        content: "";
        background-image: url("img/Setting.svg");
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
        position: absolute;
        left: -30px;
        top: 0px
    }

    #contact:before {
        content: "";
        background-image: url("img/contact.svg");
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
        position: absolute;
        left: -30px;
        top: 0px
    }


     blockquote {
       font-size: 27px;
       margin-top: 150px
    }

     .purchases q {
       height: 30px;
       font-size: 27px;
       padding-bottom: 40px;
       /*margin-top: 200px !important*/
    }
       
    #nopur {
        font-size: 25px;
        margin: 15% 35%
    }

   
    .Transactions  {
       width: 700px !important
    }
    .Transactions q {
      height: 30px;
      font-size: 27px;
      padding-bottom: 40px;
   }

   #Transactions-list
   {
       margin-top: 30px;
       width: 85%;
       height: 300px;
       float:left;
   }

   
   #Transactions-list tr
   {
       flex-grow: 1;
       margin-top: 30px;
       font-size: 15px;
       color: #2e2d2d;
       font-weight: bolder;
       font-family: sans-serif;
       width: 95%;
       margin-left: 15%;
       text-align: left;
       display: block
   }

   #Transactions-list tr th  {
       font-weight: normal !important;
       width: 150px;
       margin-top: 10px;
       width: 29.7%;
       font-size: 24px;
       margin-left: 0% !important;
       color: #2e2d2d;
   }

   #Transactions-list tr td { 
       font-weight: bolder;
       font-weight: normal !important;
       width: 150px;
       margin-left: 0% !important;
       margin-top: 10px;
       width: 30.8%;
       font-size: 20px;
       color: #2e2d2d;
   }


}

/* Activity-Media-414 */
@media screen and (max-width:415px) 
{

    .Logo_header {
        width: 300px;
        height: 90px;
        position: absolute;
        left: 20px;
    }
    header {
        z-index: 2;
    }
   
    .mainList {
        display: none
    }

   blockquote {
        margin-top: 100px;
        margin-left: 30px;
        font-size: 22px;
    }
     .purchases {
        /*height: 2px !important;*/
        margin-bottom: 0 
    }
     .purchases q {
        height: 20px;
        font-size: 18px;
        /*margin-left: 150px;*/
    }
   
    .container .custom-table th:nth-of-type(2) ,
        .container .custom-table td:nth-of-type(2) {
            display: none
        }
    .Transactions {
        width: 380px !important;
        /*height: 10px;*/
        margin-top: 5px !important
    }
     .Transactions q {
        height: 18px;
        font-size: 18px;
        /*margin-left: 140px;*/
    }
    #Transactions-list
    {
        margin-top: 30px;
        width: 100%;
        height: 300px;
        float:left;
    }
    
    #Transactions-list tr
    {
        flex-grow: 1;
        margin-top: 0px;
        font-size: 12px;
        color: #2e2d2d;
        font-weight: bolder;
        font-family: sans-serif;
        width: 95%;
        margin-left: 5%;
        text-align: left;
        display: block
    }

    #Transactions-list tr th  {
        font-weight: normal !important;
        width: 150px;
        margin-top: 10px;
        width: 28%;
        font-size: 18px;
        margin-left: 0% !important;
        color: #2e2d2d;
    }

    #Transactions-list tr td { 
        font-weight: bolder;
        font-weight: normal !important;
        width: 150px;
        margin-left: 0% !important;
        margin-top: 10px;
        width:28.5%;
        font-size: 13px;
        color: #2e2d2d;
    }

    .useraccount {margin-left: 78% !important}

}

/* Activity-Media-375 */
@media screen and (max-width:376px) 
{

    .Logo_header {
        width: 300px;
        height: 90px;
        position: absolute;
        left: 20px;
    }
    header {
        z-index: 2;
        width: 375px;
    }
  
    .mainList {
        display: none
    }

    blockquote {
        top: 250px;
        margin-left: 30px;
        font-size: 22px;
    }

    .purchases q {
       height: 20px;
       font-size: 18px;
       margin-left: 100px;
       top: 350px
    }

    .Transactions {
        width: 360px !important
    }
    .Transactions q {
        height: 18px;
        font-size: 18px;
        margin-left: 100px;
    }
    #Transactions-list
    {
        margin-top: 30px;
        width: 100%;
        height: 300px;
        float:left;
    }
    
    #Transactions-list tr
    {
        flex-grow: 1;
        margin-top: 00px;
        font-size: 12px;
        color: #2e2d2d;
        font-weight: bolder;
        font-family: sans-serif;
        width: 95%;
        margin-left: 5%;
        text-align: left;
        display: block
    }

    #Transactions-list tr th  {
        font-weight: normal !important;
        width: 150px;
        margin-top: 10px;
        width: 28.8%;
        font-size: 16px;
        margin-left: 0% !important;
        color: #2e2d2d;
    }

    #Transactions-list tr td { 
        font-weight: bolder;
        font-weight: normal !important;
        width: 150px;
        margin-left: 0% !important;
        margin-top: 10px !important;
        width: 29%;
        font-size: 13px;
        color: #2e2d2d;
    }

}

/* Activity-Media-320 */
@media screen and (max-width: 321px) 
{

    .Logo_header {
        width: 300px;
        height: 90px;
        position: absolute;
        left: 10px;
    }
 
    #dashboard:before {
        content: "";
        background-image: url("img/Dashboard.svg");
        width: 15px;
        height: 15px;
        background-size: 100% 100%;
        position: absolute;
        left: -22px;
        top: 0px
    }

    #activity:before {
        content: "";
        background-image: url("img/Activity.svg");
        width: 15px;
        height: 15px;
        background-size: 100% 100%;
        position: absolute;
        left: -22px;
        top: 0px
    }

    #referral:before {
        content: "";
        background-image: url("img/Referral.svg");
        width: 15px;
        height: 15px;
        background-size: 100% 100%;
        position: absolute;
        left: -22px;
        top: 0px
    }

    #setting:before {
        content: "";
        background-image: url("img/Setting.svg");
        width: 15px;
        height: 15px;
        background-size: 100% 100%;
        position: absolute;
        left: -22px;
        top: 0px
    }

    #contact:before {
        content: "";
        background-image: url("img/contact.svg");
        width: 15px;
        height: 15px;
        background-size: 100% 100%;
        position: absolute;
        left: -22px;
        top: 0px
    }
    .activity-container h2 {
        margin-left: 0 !important;
        font-size: 20px !important
    }

    .activity-container q {
        margin-left: 75px !important
    }
    .Transactions {
        width: 310px !important
    }
    #Transactions-list
    {
        margin-top: 30px;
        width: 100%;
        height: 000px;
        float:left;
    }

    
    #Transactions-list tr
    {
        flex-grow: 1;
        margin-top: 00px;
        font-size: 12px;
        color: #2e2d2d;
        font-weight: bolder;
        font-family: sans-serif;
        width: 95%;
        margin-left: 5%;
        text-align: left;
        display: block
    }

    #Transactions-list tr th  {
        font-weight: normal !important;
        width: 150px;
        margin-top: 10px;
        width: 28.6%;
        font-size: 14px;
        margin-left: 0% !important;
        color: #2e2d2d;
    }

    #Transactions-list tr td { 
        font-weight: bolder;
        font-weight: normal !important;
        width: 150px;
        margin-left: 0% !important;
        margin-top: 10px !important;
        width: 35%;
        font-size: 12px;
        color: #2e2d2d;
    }
   

}

/* DASHBOARD */

/*  --------------------------------------------------dashboard-page----------------------------------------*/

#dashboard-page {
    width: 72.3%;
    margin-left: 27.7%;
    margin-top:150px;
    box-sizing: border-box;
    display: block;
}

#dashboard {color: orange !important}

/* ======================================Circle=========================================== */

.circle-container {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 100%;
    flex-flow: row wrap;
    margin : auto;
    padding-bottom: 5%
}
#dashboard-page-circle {
    width: 400px !important; 
    display: block;
    height: 400px !important;
    border: 20px solid #ff9100;
    border-radius: 50%;
    margin-left: 6% !important;
    border-collapse: 2px solid #727272;
    flex-shrink: 1;
}

#dashboard-page-circle2 {
    width: 400px !important; 
    display: block;
    height: 400px !important;
    border: 20px solid #ff9100;
    border-radius: 50%;
    border-collapse: 2px solid #727272;
    margin-left: 6% !important;
    flex-shrink: 1;
}

#redeem {
    /* margin-top: 0%; */
    /* margin-left: 38%; */
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .475rem 2rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #212529;
    background-color: #42dca3;
    border-color: #42dca3;
    font-family: Cabin,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    text-transform: uppercase;
    border-radius: 0;
    border-radius: 100px 100px 100px 100px;
    border: none;
    display: block;
    margin: auto;
    margin-top: 3% !important;
    cursor: pointer;
}

#circle-span {
    font-size: 27px;
    text-align: center;
    font-family: sans-serif;
    color: #727272;
    position: absolute;
    margin-top: 5%;
    font-weight: bolder;
    margin-left: 8% !important;
}

#dashboard-page-circle p:nth-of-type(1) {
    font-size: 33px;
    text-align: center;
    color: rgb(41, 37, 37);
    margin-top: 37% !important;
    font-weight: bolder;
    font-family: sans-serif;
    padding:0 !important;
}

#dashboard-page-circle p:nth-of-type(2) {
    font-size: 33px;
    text-align: center;
    color: rgb(41, 37, 37);
    margin-top: -4%;
    font-weight: bolder;
    padding:0 !important;
    font-family: sans-serif
}
#dashboard-page-circle2 p:nth-of-type(1) {
    font-size: 33px;
    text-align: center;
    color: rgb(41, 37, 37);
    margin-top: 37%;
    font-weight: bolder;
    padding:0 !important;
    font-family: sans-serif
}

#dashboard-page-circle2 p:nth-of-type(2) {
    font-size: 33px;
    padding:0 !important;
    text-align: center;
    color: rgb(41, 37, 37);
    margin-top: -4% !important;
    font-weight: bolder;
    font-family: sans-serif
}
#miningBTC span, #miningBTC span {
    font-size: 25px
}
#dashboard-page-circle  hr , #dashboard-page-circle2  hr {
    margin-top: -10% !important
}
/* ==================================================HASH History============================== */


#no-hash {
    font-size: 30px;
    margin: 15% 37%
}

.Hash-History  {
    max-height: 350px !important;
    margin-left: 7% !important;
}
.Hash-History table thead tr {
    height: 150px !important;
}
#Hash-History-list .remain {
    width: 180px; margin: 0px auto;
    border: thin solid ;
}

.progress1 {    border: 1px solid;}
.progress-bar1 {
    background-color: #ff9100;
    text-align: center;
    color: white;
    width: 0;
    -webkit-animation: progress 1.5s ease-in-out forwards;
    animation: progress 1.5s ease-in-out forwards;
}
.progress-bar1 .title {
    opacity: 0;
    -webkit-animation: show 0.35s forwards ease-in-out 0.5s;
    animation: show 0.35s forwards ease-in-out 0.5s;
}

#Hash-History-list .remain {
    width: 160px !important;
    text-align: center !important;
    color: white !important;
}

#Hash-History-list .remain .progress1 {
    width:98% !important;
    background-color: white !important;
    border: 1px solid black !important;
    text-align: center !important;
    height: 100% !important;
    padding-top: 0px !important
}
 

/* ==============================================Buy hash power=================================== */

#demo {
    margin-top: 0%;
    margin-left: 44%;
    font-size: 25px;
    font-weight: bolder;
    color: #242424;
    font-family: Helvetica, sans-serif;
}

.slidecontainer {
    width: 82%;
    margin-top: 2%;
    margin-left: 8%;
    top: 0%;
    left: 0;
    margin-bottom: 4% !important;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    background: #242424;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #f09300;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #15BEA4;
    cursor: pointer;
}

.pandel-button {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .475rem 2rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #212529;
    background-color: #42dca3;
    border-color: #42dca3;
    font-family: Cabin,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    text-transform: uppercase;
    border-radius: 0;
    border-radius: 100px 100px 100px 100px;
    border: none;
    display: block;
    margin: auto;
    margin-top: 3%;
    cursor: pointer;
}

 .rfrcode {
    color: black;
    font-weight: bolder;
    font-size: 1.2em;
    padding-top: 25px !important;
    display: inline
}
 .aplybtn1text {
    display: inline-block !important;
    padding:5px;
    padding-bottom: 0px !important;
    border: transparent ;
    border-bottom: 1px solid black !important;
    background-color: #FFFDE8;
    margin-left: 10px;
}
 .btn {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .275rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    color: #212529;
    background-color: #42dca3;
    border-color: #42dca3;
    font-family: Cabin,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    text-transform: uppercase;
    border-radius: 0;
    border-radius: 100px 100px 100px 100px !important;
    border: none;
    display: inline-block;
    cursor: pointer;
    margin-top: -9px;
    margin-left: 17px
}


/*============================================== Mining History ===================================*/

    canvas#chart1 {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        margin-top: 5%;
        margin-left: 20%
    }

   /* ------------------------ ---------------title flex ------------------------------------ */

   .title-flex
   {
       width: 100%;
       display: flex;
       display: -ms-flexbox;
       display: -webkit-flex;
       flex-flow: row nowrap;
   }

   .title-flex .dashboard-title {
        margin-left: 0.5em !important;
        font-size: 20px !important;
        font-weight: bolder;
        color: #2e2d2d;
        flex: 1;
        width: auto;
    }
    .dashboard-hr {
        flex: 2
    }

    .dashboard-hr {
        flex: 2
    }

    .hash {
        padding-left: 3% !important
    }

    .min {
        padding-left: 1% !important
    }
   /*  
@media screen and (min-width:1840px) {
    #dashboard-page {
        width: 82.3% !important;
        margin-left: 20.7% !important;
    }
    #dashboard-page-circle , #dashboard-page-circle2 {
        width: 31% !important
    }
    #dashboard-page-circle ,
    #dashboard-page-circle2 {
        margin-left: 10% !important
    }

    #circle-span {
        margin-left:5% !important
    }
    #Hash-History-list tr th  {
        width: 170px;
        width: 30.5%;
        font-size: 27px;
        margin-left: 0 !important
    }

    #Hash-History-list tr td { 
        width: 170px;
        width: 28.8%;
        margin-left: 0 !important;
        font-size: 24px;
    }

}

@media screen and (min-width:1600px) {


    #dashboard-page-circle ,
    #dashboard-page-circle2 {
        width: 35% !important;
        margin-left: 10% !important
    }

    #Hash-History-list tr th  {
        width: 160px;
        width: 29.8%;
    }

    #Hash-History-list tr td { 
        width: 160px;
        width: 27.8%;
    }
}

@media screen and (min-width:1400px) {
    #dashboard-page-circle ,
    #dashboard-page-circle2 {
        width: 40% !important;
        margin-left: 10% !important
    }

    #circle-span {
        margin-left: 7% !important
    }
}  */
/* Dashboard-Media-1280 */
@media screen and (max-width:1281px) {
    #dashboard-page-circle ,
    #dashboard-page-circle2 {
        width: 350px !important;
        height: 350px !important;
        margin-left: 10% !important
    }

    #dashboard-page-circle p:nth-of-type(1)
    , #dashboard-page-circle p:nth-of-type(2)
    , #dashboard-page-circle2 p:nth-of-type(1)
    , #dashboard-page-circle2 p:nth-of-type(2) {
        font-size: 30px !important;
    }
    
    #miningBTC span, #miningBTC span {
        font-size: 20px !important
    }

    #circle-span {
        margin-left: 5% !important;
        margin-top: 3% !important
    }

  
}

/* Dashboard-Media-1024 */
@media screen and (max-width:1025px){
    /* ---------------=====Media====-------------Main Container--------------------------- */
    
    div ul .navbar #welcome {
        font-size: 17px;
        left: 70px;
    }

    .sub:after {
        width: 1em;
        height: 1em;
        content: "";
        left: 85%;
    }

    /* ================---media--=================Circle================================== */

    #dashboard-page-circle , #dashboard-page-circle2{
        width: 300px !important;
        height: 300px !important;
        margin-left: 5% !important
    }
    
    #redeem {
        padding: .175rem 0.5rem;
        font-size: 0.8rem;
    }
    #circle-span {
        font-size: 20px !important;
        margin-top: 50px !important;
        margin-left: 6% !important
    }
    #dashboard-page-circle p {
        font-size: 22px !important;
        margin-top: 40%;
    }

    #dashboard-page-circle p:nth-of-type(1) , #dashboard-page-circle2 p:nth-of-type(1) {
        font-size: 22px !important;
        margin-top: 42% !important;
    }
    #dashboard-page-circle p:nth-of-type(2) , #dashboard-page-circle2 p:nth-of-type(2){
        font-size: 22px !important;
    }
    #dashboard-page-circle2 p {
        font-size: 22px !important;
        margin-top: 40%;
    }
    #dashboard-page-circle  hr , #dashboard-page-circle2  hr {
        margin-top: -12% !important
    }
    
    /* ==================================================HASH History============================== */

    .title-flex .dashboard-title {
        font-size: 15px !important;
        margin-top: 10px
    }

    #no-hash {
        font-size: 25px;
    }
    #Hash-History-list
    {
        margin-top: 30px;
        width: 100%;
        height: 300px;
        float:left;
    }
    
   #Hash-History-list tr
   {
       flex-grow: 1;
       margin-top: 30px;
       font-size: 15px;
       color: #2e2d2d;
       font-weight: bolder;
       font-family: sans-serif;
        width: 95%;
        margin-left: 5%;
       text-align: left;
       display: block
   }
   
   #Hash-History-list tr th  {
       font-weight: normal !important;
       width: 150px;
       margin-top: 10px;
       width: 28.9%;
       font-size: 24px;
       margin-left: -2% !important;
       height: 70px;
       color: #2e2d2d;
   }
   
   #Hash-History-list tr td { 
       font-weight: bolder;
       font-weight: normal !important;
       width: 150px;
       margin-left: 0% !important;
       margin-top: 10px;
        width: 26.4%;
        font-size: 20px;
       height: 70px;
       color: #2e2d2d;
   }

    #Hash-History-list .remain {

        width: 130px !important;
        text-align: center !important;
        color: white !important;
    }

    #Hash-History-list .remain .progress1 {
        width:98% !important;
        background-color: white !important;
        border: 1px solid black !important;
        text-align: center !important;
        height: 100% !important;
        padding-top: 0px !important
    }

    /* ==============================================Buy hash power=================================== */


    .slidecontainer {
        margin-top: 2.65%
    }
   
    .dashboard-page {
        margin-top: -5.6%
    }
    /*============================================== Mining History ===================================*/

    canvas#chart1 {
        margin-top: 0px;
        margin-left: 0
    }

}

/* Dashboard-Media-768 */
@media screen and (max-width:769px) {

    .container1 {
        display: none
    }
    .mainContainer {display: none}
    .container1 .mainList { display: none}

    #dashboard-page {
        margin-left: 0 !important;
        width: 98%;
        z-index: 0;
    }
   
    .container1 {
        border-bottom: transparent
    }

    /* ======================================Circle=========================================== */
    #dashboard-page-circle  {
        width: 280px;
        display: block;
        height: 280px;
        border: 20px solid #ff9100;
        border-radius: 50%;
        border-collapse: 2px solid #727272;
        padding: 0 !important;
        margin-left: 10% !important
    }
    #dashboard-page-circle2 {
        width: 280px;
        display: block;
        height: 280px;
        border: 20px solid #ff9100;
        margin-left: 3% !important;
        border-radius: 50%;
        border-collapse: 2px solid #727272
    }
    #circle-span {
        font-size: 30px;
        text-align: center;
        font-family: sans-serif;
        color: #727272;
        margin-top: 5% !important;
        font-weight: bolder;
        margin-left: 9% !important;
    }

    #dashboard-page-circle p {
        font-size: 45px;
        text-align: center;
        color: rgb(41, 37, 37);
        margin-top: 30% !important;
        font-weight: bolder;
        font-family: sans-serif
    }
    #dashboard-page-circle p:nth-of-type(2) {
        margin-top: -3% !important
    }
    #dashboard-page-circle2 p {
        font-size: 45px;
        text-align: center;
        color: rgb(41, 37, 37);
        margin-top: 30% !important;
        font-weight: bolder;
        font-family: sans-serif
    }
    /* ==================================================HASH History============================== */
    .title-flex .dashboard-title {
        font-size: 19px !important;
    }
    .title-flex .dashboard-hr {
        flex: 1.5
    }
    #Hash-History-list
    {
        margin-top: 30px;
        width: 100%;
        height: 300px;
        float:left;
    }
    
    #Hash-History-list tr
    {
        flex-grow: 1;
        margin-top: 30px;
        font-size: 15px;
        color: #2e2d2d;
        font-weight: bolder;
        font-family: sans-serif;
        width: 95%;
        margin-left: 5%;
        text-align: left;
        display: block
    }

    #Hash-History-list tr th  {
        font-weight: normal !important;
        width: 150px;
        margin-top: 10px;
        width: 29.2%;
        font-size: 24px;
        margin-left: 0% !important;
        height: 40px;
        color: #2e2d2d;
    }

    #Hash-History-list tr td { 
        font-weight: bolder;
        font-weight: normal !important;
        width: 150px;
        margin-left: 0% !important;
        margin-top: 10px;
        width: 28%;
        font-size: 20px;
        height: 70px;
        color: #2e2d2d;
    }


}

/* Dashboard-Media-414 */
@media screen and (max-width:415px) {
        
    #dashboard-page {
        width: 100%;
        z-index: 0;
    }

    .mainList {
        display: none
    }

    /* ======================================Circle=========================================== */

    .circle-container {
        flex-flow: column wrap;
        margin-top: -40px !important;
        margin-left: 0% !important;
        width: 100%;
        margin-bottom: 40px
    }
    #dashboard-page-circle {
        width: 300px !important;
        height: 80% !important;
        display: block;
        height: 300px !important;
        border: 20px solid #ff9100;
        border-radius: 50%;
        display: block;
        margin: auto !important;
    }
    #dashboard-page-circle2 {
        width: 300px !important;
        height: 300px !important;
        display: block;
        /* height: 350px !important; */
        border: 20px solid #ff9100;
        border-radius: 50%;
        display: block;
        margin: auto !important;
        margin-top: 4% !important;
    }
    #circle-span {
        font-size: 22px !important;
        margin-top: 13% !important;
        margin-left: 15% !important;
    }

    #dashboard-page-circle p {
        font-size: 20px !important;
        margin-top: 35% !important;
    }
    #dashboard-page-circle2 p {
        font-size: 20px !important;
        margin-top: 35% !important;
    }

    #dashboard-page-circle hr , #dashboard-page-circle2 hr {
        margin-top: -25px !important
    }
    /* ==================================================HASH History============================== */
    .title-flex .dashboard-title {
        font-size: 16px !important ;
    }

    .title-flex .dashboard-hr { 
        flex: 0.8
    }

    #Hash-History-list
    {
        margin-top: 30px;
        width: 100%;
        height: 150px;
        float:left;
    }
    
    .Hash-History .custom-table th:nth-of-type(2) ,
    .Hash-History .custom-table td:nth-of-type(2) {
        display: none
    }
    #Hash-History-list tr
    {
        flex-grow: 1;
        margin-top: 0px;
        font-size: 12px;
        width: 95%;
        margin-left: 5%;
        text-align: left;
        display: block
    }

    #Hash-History-list tr th  {
        font-weight: normal !important;
        width: 150px;
        margin-top: 10px;
        width: 41% !important;
        font-size: 18px;
        margin-left: 0% !important;
        height: 40px;
    }

    #Hash-History-list tr td { 
        font-weight: normal !important;
        width: 150px;
        margin-left: 0% !important;
        margin-top: 10px;
        width: 40% !important;
        font-size: 13px;
        height: 40px;
    }

    #Hash-History-list tr td:nth-of-type(2) ,  #Hash-History-list tr th:nth-of-type(2)  {
        display: none
    }
    #Hash-History-list .remain {
        width: 100px !important;
        color: white !important;
    }

    #Hash-History-list .remain .progress1 {
        width:98% !important;
        background-color: white !important;
        border: 1px solid black !important;
        height: 100% !important;
        padding-top: 0px !important
    }

    /* ==============================================Buy hash power=================================== */
   
    #referralCode {
        width: 200px !important
    }
    .aplybtn {
        margin-left: 70% !important;
        margin-top: -60px !important
    }
    .rfrcode {
        display: block;
    }
    
    /*============================================== Mining History ===================================*/

    canvas#chart1 {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        margin-top: 50px;
    }
   
    .pandel-button {
     padding: .375rem 1.75rem;
     font-size: 1rem;
     line-height: 1.5;
    }

    .dashboard-hr {
        flex: 1
    }

}

/* Dashboard-Media-375 */
@media screen and (max-width:376px) {

    .useraccount {
        top: 10px;
        margin-left:75%;
    }

    /* ======================================Circle=========================================== */
    #dashboard-page-circle , #dashboard-page-circle2 {
        width: 280px !important;
        display: block;
        height: 280px !important;
        border: 20px solid #ff9100;
        border-radius: 50%;
        border-collapse: 2px solid #727272
    }
    
    #circle-span {
        font-size: 18px !important;
        text-align: center;
        font-family: sans-serif;
        color: #727272;
        margin-top: 15%;
        font-weight: bolder;
        margin-left: 18% !important;
    }

    #dashboard-page-circle p {
        font-size: 20px !important;
        text-align: center;
        color: rgb(41, 37, 37);
        top: 40%;
        font-weight: bolder;
        font-family: sans-serif
    }
    #dashboard-page-circle2 p {
        font-size: 20px !important;
        text-align: center;
        color: rgb(41, 37, 37);
        top: 40%;
        font-weight: bolder;
        font-family: sans-serif
    }
    /* ==================================================HASH History============================== */
    .title-flex .dashboard-title {
        font-size: 15px !important;
    }
    .title-flex .dashboard-hr {
        flex: 0.7
    }

    .hash {
        padding-left: 5% !important
    }
    .min {
        padding-left: 3% !important
    }
    #Hash-History-list
    {
        margin-top: 30px;
        width: 100%;
        height: 120px !important;
        float:left;
    }
    
    #Hash-History-list tr
    {
        flex-grow: 1;
        margin-top: 00px;
        font-size: 12px;
        color: #2e2d2d;
        font-weight: bolder;
        font-family: sans-serif;
        width: 95%;
        margin-left: 5%;
        text-align: left;
        display: block
    }

    #Hash-History-list tr th  {
        font-weight: normal !important;
        width: 150px;
        margin-top: 10px;
        width: 28.4%;
        font-size: 16px;
        margin-left: 0% !important;
        height: 70px;
        color: #2e2d2d;
    }

    #Hash-History-list tr td { 
        font-weight: bolder;
        font-weight: normal !important;
        width: 150px;
        margin-left: 0% !important;
        margin-top: 10px !important;
        width: 29%;
        font-size: 13px;
        height: 70px;
        color: #2e2d2d;
    }

    #Hash-History-list .remain {
        width: 65px !important;
        border: 1px solid ;
        font-size: 12px
    }
  
    /*============================================== Mining History ===================================*/

    canvas#chart1 {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        margin-top: 50px;
        width: 330px !important;
        height: 200px !important;
        margin-left: 20px
    }

}

/* Dashboard-Media-320 */
@media screen and (max-width: 321px) {

     /* ======================================Circle=========================================== */

     .circle-container {
         margin-left: 0% !important
     }
     #dashboard-page-circle , #dashboard-page-circle2 {
        display: block;
        border: 20px solid #ff9100;
        border-radius: 50%;
        border-collapse: 2px solid #727272;
    }
        
    #circle-span {
        text-align: center;
        font-family: sans-serif;
        color: #727272;
        font-weight: bolder;
        margin-left: 20% !important
    }

    #dashboard-page-circle p {
        text-align: center;
        color: rgb(41, 37, 37);
        font-weight: bolder;
        font-family: sans-serif;
        font-size: 13px !important;
    }
    #dashboard-page-circle2 p {
        text-align: center;
        color: rgb(41, 37, 37);
        font-weight: bolder;
        font-family: sans-serif;
        font-size: 13px !important;
    }
    /* ==================================================HASH History============================== */
    .title-flex .dashboard-title {
        font-size: 15px !important;
    }
    .title-flex .dashboard-hr {
        flex: 0.5
    }

    #Hash-History-list
    {
        margin-top: 30px;
        width: 100%;
        height: 130px;
        float:left;
    }
    
    #Hash-History-list tr
    {
        flex-grow: 1;
        margin-top: 00px;
        font-size: 12px;
        color: #2e2d2d;
        font-weight: bolder;
        font-family: sans-serif;
        width: 95%;
        margin-left: 5%;
        text-align: left;
        display: block
    }

    #Hash-History-list tr th  {
        font-weight: normal !important;
        margin-top: 10px;
        width: 41%;
        font-size: 14px;
        margin-left: 10% !important;
        height: 40px;
        color: #2e2d2d;
    }

    #Hash-History-list tr td { 
        font-weight: bolder;
        font-weight: normal !important;
        width: 150px;
        margin-left: 0% !important;
        margin-top: 10px !important;
        width: 37.5%;
        font-size: 12px;
        height: 70px;
        color: #2e2d2d;
    }

    #Hash-History-list .remain {
        width: 70px !important;
        border: 1px solid ;
        font-size: 12px;
        height: 20px !important
    }
    #Hash-History-list .remain .progress-bar1{
        height: 20px !important
    }
    #Hash-History-list .remain .progress-bar1 .title{
        text-align: center;
        padding-top: 1% !important
    }
    /* ==============================================Buy hash power=================================== */

    #referralCode {
        width: 155px !important
    }
    .btn-primary {
        padding: 0.1em .5em !important;
        margin-left: 170px
    }
    /*============================================== Mining History ===================================*/

    canvas#chart1 {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        margin-top: 50px;
        width: 280px !important;
        height: 200px !important;
        margin-left: 5px
    }

}
