body {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;    
}

.customerservice-container {
    width: 100%;
    height: 100%;
}
/* -------------------------------Banner------------------------ */
.customerservice-banner{
    width: 100%;
    height: 400px;
    position: relative;
}
.customerservice-banner{
    width: 100%;
    height: 400px;
    position: relative;
    background-image: url("../img/bitcoin.jpg");
    background-size: 100% 100%;
    
}

.customerservice-banner:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgb(255, 196, 0);
    opacity: .1;
    position: absolute;
    filter: blur(5px)

}

.customerservice-banner h1 {
    font-size: 40px;
    margin-left: 33%;
    margin-top: 6.5%;
    font-weight: bolder;
    font-family: sans-serif;
    color: orange;
    position: absolute;
}


.customerservice-banner h2 {
    font-size: 30px;
    color: orange;
    margin-left: 26%;
    margin-top: 19.5%;
    position: absolute;;
    width: 23em;
    text-align: center
}


.customerservice-grid-item {
    width: 100%;
    height: 1000px;
    display: grid;
    display: -ms-grid;
    display: -webkit-grid;
    grid-column: repeat(1,100%);
    grid-row: repeat(2, 1fr);
}
/* -------------------------------Category------------------------ */

.category-bar {
    width: 50%;
    height: 70px;
    border: 2px solid;
    margin-left: 25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    flex-flow: row nowrap;
    background-color: black
}

.category-bar .category-button-flex {
    flex: 1;
    text-align: center;
    /* margin-top: .5em; */
    font-size: 1.5em;
    font-weight: bold;
    color: #43A047;
    font-family: sans-serif;
    border-top: 4px solid #274c65
}

.category-bar .category-button-flex a {
    color:  rgb(255, 187, 0);
    transition: all .1s ease-in-out;
    z-index: 12 ;

}

.category-bar .category-button-flex:nth-of-type(2):after {
    content: '';
    color: white;
    width: 224px;
    height:67px;
    position: absolute;
    left: 41.8%;
    background-color: #274c6586;
    border-bottom-left-radius:15px;
    border-bottom-right-radius: 15px;
    transition: all 2s;
    
}
.category-bar .category-button-flex:nth-of-type(2):hover:after {
    height:0;
    z-index: -1;

}


.category-bar .category-button-flex:nth-of-type(1):after {
    content: '';
    color: white;
    width: 226px;
    height:67px;
    position: absolute;
    left: 25%;
    background-color: #274c6586;
    border-bottom-left-radius:100%;
    transition: all 2s;
}


.category-bar .category-button-flex:nth-of-type(1):hover:after {
    height:0;
    z-index: -1;

}


.category-bar .category-button-flex:nth-of-type(3):after {
    content: '';
    color: white;
    width: 226px;
    height:67px;
    position: absolute;
    left: 58.5%;
    background-color: #274c6586;
    border-bottom-right-radius:100%;
    transition: all 2s;
}


.category-bar .category-button-flex:nth-of-type(3):hover:after {
    height:0;
    z-index: -1;

}
.category-bar .category-button-flex a:hover {
    border-bottom: 2px solid rgb(255, 187, 0);
    color: rgb(13, 109, 4);

}

.category-bar .category-button-flex:nth-of-type(2) {
    border-right: 2px solid white;
    border-left: 2px solid white;
}

/* ==================================================================== */
.customerservice-container blockquote {
    color: orange;
    margin: 5% ;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 30px;
    border-bottom: 3px solid orange;
    width: 215px;
    line-height: 1.3
}


.top-questions-list {
    width: 100%;
    border-bottom: 2px solid #274c65;
}

 ul li  {
    list-style-type: none;
}

.question1 , .question2 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: #274c65;
    margin-left: 15%;
}

.question1:before , .question2:before {
    content: '';
    width: 30px;
    height: 30px;
    background-image: url("img/angle-down-solid.svg");
    background-size: 100% 100%;
    position: absolute;
    background-color: #274c65;
    border-radius: 50%;
    margin-left: 0%;
    left: 200px;
}


a {
    text-decoration: none;
    cursor: pointer;
}

.answer1 , .answer2 {
    font-size: 18px;
    width: 400px !important;
    color: #274c65;
    margin-top: 1%;
    font-family: sans-serif;
    margin-left: 15%;
    display: none;
}

.customerservice-category {
    width: 100%;
    border-bottom: 2px solid #274c65;
    margin-top: 0%
}
.customerservice-category .p1 {
    color: orange;
    margin: 5% ;
    margin-top: 10%;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 30px;
    border-bottom: 3px solid orange;
    width: 400px;
    line-height: 1.3
}   


@media screen and (max-width: 1024px) {

    .customerservice-banner h1 {
        left: 0%;
        margin-left: 25%
    }

    .customerservice-banner h2 {
        left: 0;
        margin-left: 18%;
        margin-top: 26%
    }    

    .question1:before , .question2:before {
        left: 150px !important;
    }

    
.category-bar .category-button-flex:nth-of-type(2):after {
    width: 174px;
    
    
}

.category-bar .category-button-flex:nth-of-type(1):after {
    width: 174px;
}



.category-bar .category-button-flex:nth-of-type(3):after {
    width: 174px;
}



}



@media screen and (max-width: 768px) {

    .customerservice-banner h1 {
        left: 0%;
        margin-left: 20%;
        font-size: 35px;
        margin-top: 12%
    }

    .customerservice-banner h2 {
        left: 0;
        margin-left: 13%;
        margin-top: 36%;
        font-size: 25px
    }    

    .question1:before , .question2:before {
        left: 115px !important;
    }

    .category-bar {
        width: 500px;
        left: 0;
        margin-left: 18%
    }

    .category-bar .category-button-flex:nth-of-type(2):after {
        width: 166px;
        left: 40%
    }

    .category-bar .category-button-flex:nth-of-type(1):after {
        width: 168px;
        left: 18%
    }

    .category-bar .category-button-flex:nth-of-type(3):after {
        width: 166px;
        left: 61.9%
    }

    .customerservice-container blockquote {
        font-size: 25px;
        width: 175px
    }

    .customerservice-container .p1 {
        font-size: 25px;
        width: 340px;
    }

    .question1 , .question2 {
        font-size: 17px
    }

    .question1:before , .question2:before {
        width: 25px;
        height: 25px
    }

    .answer1 , .answer2 {
        font-size: 15px;
        width: 250px !important;
    }
}



@media screen and (max-width: 414px) {

    .customerservice-banner h1 {
        margin-left: 15%;
        font-size: 23px;
        margin-top: 22%
    }

    .customerservice-banner h2 {
        margin-left: 12%;
        margin-top: 65%;
        font-size: 16px;
        width: 80%
    }    

    .question1:before , .question2:before {
        left: 70px !important;
    }

    .category-bar {
        width: 414px;
        left: 0;
        margin-left: 0%;
        border-radius: 0;
    }

    .category-bar .category-button-flex:nth-of-type(2):after {
        width: 136px;
        left: 34%;
        border-radius: 0;
    }

    .category-bar .category-button-flex:nth-of-type(1):after {
        width: 138px;
        left: 0%;
        border-radius: 0;
    }

    .category-bar .category-button-flex:nth-of-type(3):after {
        width: 136px;
        left: 66.9%;
        border-radius: 0;

    }

    .customerservice-container blockquote {
        font-size: 22px !important;
        width: 155px
    }

    .customerservice-container .p1 {
        font-size: 20px;
        width: 270px;
    }

    .question1 , .question2 {
        font-size: 17px
    }

    .question1:before , .question2:before {
        width: 25px;
        height: 25px
    }

    .answer1 , .answer2 {
        font-size: 15px;
        width: 250px !important;
    }
}



@media screen and (max-width: 375px) {

    .customerservice-banner h1 {
        margin-left: 13%;
        font-size: 20px;
        margin-top: 20%
    }
    .customerservice-banner{
        width: 100%;
        height: 300px;
        position: relative;
    }
    .customerservice-banner h2 {
        margin-left: 12%;
        margin-top: 55%;
        font-size: 16px;
        width: 80%
    }    
    .question1, .question2 {
        left: 00px !important;
        margin-left: 0;
    }

    .question1:before , .question2:before {
        left: 10px !important;
    }

    .category-bar {
        width: 370px;
    }

    .category-bar .category-button-flex:nth-of-type(2):after {
        width: 123px;
        left: 33.6%;
        border-radius: 0;
    }

    .category-bar .category-button-flex:nth-of-type(1):after {
        width: 125px;
        left: 0%;
        border-radius: 0;
    }

    .category-bar .category-button-flex:nth-of-type(3):after {
        width: 124px;
        left: 66.6%;
        border-radius: 0;

    }

    .customerservice-container blockquote {
        font-size: 19px !important;
        width: 135px;
        line-height: 1.3
    }

    .customerservice-container .p1 {
        font-size: 18px;
        width: 240px;
    }

    .question1 , .question2 {
        font-size: 17px
    }

    .question1:before , .question2:before {
        width: 25px;
        height: 25px
    }

    .answer1 , .answer2 {
        font-size: 15px;
        width: 250px !important;
        margin-left: 0;
    }
}



@media screen and (max-width: 320px) {

    .customerservice-banner h1 {
        margin-left: 15%;
        font-size: 17px;
        width: 250px;
        margin-top: 20%
    }
    .customerservice-banner{
        width: 100%;
        height: 250px;
        position: relative;
    }
    .customerservice-banner h2 {
        margin-left: 12%;
        margin-top: 55%;
        font-size: 16px;
        width: 80%
    }    
    .question1, .question2 {
        left: 00px !important;
        margin-left: 0;
    }

    .question1:before , .question2:before {
        left: 10px !important;
    }

    .category-bar {
        width: 315px;
        flex-flow: column nowrap;
        height: 150px;
        border-top: 2px solid transparent;
    }

    .category-bar .category-button-flex {
        border-top: 2px solid transparent;
    }

    .category-bar .category-button-flex:nth-of-type(2) {
        border-top: 2px solid yellow;
        border-bottom: 2px solid yellow;
        border-left: transparent;
        border-right: transparent;
    }
    
    .category-bar .category-button-flex:nth-of-type(2):after {
        width: 0;
    }

    .category-bar .category-button-flex:nth-of-type(1):after {
        width: 0;

    }

    .category-bar .category-button-flex:nth-of-type(3):after {
        width: 0;
    }

    .customerservice-container blockquote {
        font-size: 19px !important;
        width: 135px;
        line-height: 1.3;
        margin-left: 30%
    }

    .customerservice-container .p1 {
        font-size: 18px;
        width: 240px;
        margin-left: 14%
    }

    .question1 , .question2 {
        font-size: 17px
    }

    .question1:before , .question2:before {
        width: 25px;
        height: 25px
    }

    .answer1 , .answer2 {
        font-size: 15px;
        width: 250px !important;
        margin-left: 0;
    }
}