.mainContainer
{
    background-color: #FFFDE8
}
body {
    background-color: #FFFDE8

}

.container-setting-changepassword2 {
    display: none
}
/* Header */

header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 110px;
    background-color: black;
    font-size: 50px;
    position: relative;

}

header div {
    border-bottom: 4px solid orange;
    width: 100%;
    height: 110px;
    position: relative;
    z-index: 2;

}

.Logo_header {
    width: 700px;
    height: 90px;
    position: absolute;
    left: -120px;
}



/* Menu */
.container-setting-changepassword {
    width: 370px;
    height: 1000px;
    background: rgb(39, 38, 38);
    border-top: 4px solid orange
}

.container-setting-changepassword .mainList {
    background: white;
    position: fixed;
    width: 370px;
    top: 150px;
}

.container-setting-changepassword .navbar {
    height: 130px;
    border-bottom: 2px solid #727272;
    /* background-color: silver */
    background: rgb(39, 38, 38);
    font-family: sans-serif;
}

.container-setting-changepassword .Logo_In_NavBar {
    width: 250px;
    height: 400px;
    left: 50px;
    position: absolute;
    top: -170px
}


div ul .navbar #welcome {
    font-size: 20px;
    color: white;
    position: absolute;
    left: 110px;
    top: 90px;
    text-decoration: none
}

.container-setting-changepassword .mainList .sub {
    color: orange;
    height: 60px;
    border-bottom: 2px solid #727272;
    font-size: 30px;
    /* background: silver; */
    background: rgb(39, 38, 38);
    padding-bottom: 10px;
    text-align: center;
    font-family: sans-serif
}

.container-setting-changepassword .mainList .sub a {
    color: orange;
    text-decoration: none;
    padding-top: 20px;
    position: relative;
    left: -40px;
    top: 30%
}

.container-setting-changepassword .mainList .sub a:hover {
    color: white;
}

.sub:after {
    background-image: url("img/Arrow.svg");
    width: 1em;
    height: 1em;
    margin-top: 25px;
    content: "";
    left: 300px;
    background-size: 100% 100%;
    position: absolute;
}

#dashboard:before {
    content: "";
    background-image: url("img/Dashboard.svg");
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    position: absolute;
    left: -60px;
    top: 15px
}

#activity:before {
    content: '';
    background-image: url("img/Activity.svg");
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    position: absolute;
    left: -80px;
    top: 15px
}


#referral:before {
    content: "";
    background-image: url("img/Referral.svg");
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    position: absolute;
    left: -80px;
    top: 15px
}
#setting {
    color: white
}
#setting:before {
    content: "";
    background-image: url("img/Setting.svg");
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    position: absolute;
    left: -85px;
    top: 15px
}

.contact {
    border-bottom: 1px solid transparent !important
}

#contact:before {
    content: "";
    background-image: url("img/contact.svg");
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    position: absolute;
    left: -80px;
    top: 18px
}



/* Setting Page */

#setting-page {
    position: absolute;
    /* border: 1px solid red; */
    width: 72%;
    /* height: 650px; */
    left: 27.5%;
    top: 200px;

}

.setting-flex {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

}

.flex-item
{
    flex-grow: 1;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    margin-top: 5px
    
}

#setting-page .setting-flex .flex-item  {
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
}

#setting-page .setting-flex .flex-item a {
    text-decoration: none;
    color: #2e2d2d;    
    font-size: 20px;
}

#setting-page .setting-flex .flex-item a:hover {
    color: orange
}
 
.flex-item-two  {
    border-left: 2px solid #727272;
    border-right: 2px solid #727272;
    font-size: 20px;
    font-family: sans-serif;
    flex-grow: 1;
    height: 60px;

}

.flex-item-two .change { 
    position: relative;
    top: 10px !important
        
}

.flex-item-two {
    position: relative;
    top: -10px
}

/* Change Password */
.change-password {
    display: block;
}

.change-password input
{
    background-color: #FFFDE8
}
.change-password input:nth-of-type(1){
    position: absolute;
    margin: 5% 7%;
    width: 300px;
    height: 25px;
    border: 3px solid transparent;
    border-bottom: 2px solid silver !important
}

.change-password input:nth-of-type(2){
    position: absolute;
    margin: 5% 57%;
    width: 300px;
    height: 25px;
    border: 3px solid transparent;
    border-bottom: 2px solid silver !important
}


.change-password input::placeholder {
    text-align: left;
    font-size: 20px;
    color: black;
}



form#change-password button {
    width: 160px;
    height: 60px;
    border-radius:10%;
    background-color: #15BEA4;
    position: relative;
    top: 200px;
    left:380px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 30px;
    border: thin solid
}

form#change-password button p {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 30px;
    color: white;
}

.setting-changepassword-hr-footer
{
    top: 540px
}

/* Footer */

.setting-changepassword-footer-div {
    top: 1000px;
    width: 70%;
    left: 30%;
    position: absolute;
}
.setting-changepassword-footer-paragraph {
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    top: -60px;
    left: 250px    
    
}

#setting-changepassword-footer-image {
    width: 200px;
    height: 100px;
}

@media screen and (max-width:1024px)
{
    /* ---------------=====Media====-------------Main Container--------------------------- */
    
    .container-setting-changepassword {
        width: 270px;
        /* height: 1850px; */


    }

    .container-setting-changepassword .mainList {
        width: 270px
    }

    .container-setting-changepassword .Logo_In_NavBar{
        width: 230px;
        height: 380px;
        left: 50px;
        position: absolute;
        top: -170px
    }

    div ul .navbar #welcome {
        font-size: 17px;
        left: 70px;
        
    }


    .container-setting-changepassword .mainList .sub {
        height: 60px;
        font-size: 25px;
        padding-bottom: 10px;
    }


    .container-setting-changepassword .mainList .sub a {
        left: -10px;
        top: 30%
    }


    .sub:after {
        width: 1em;
        height: 1em;
        content: "";
        left: 85%;
    }


    #dashboard:before {
        content: "";
        width: 30px;
        height: 30px;
        left: -40px;
    }

    #activity:before {
        content: "";
        width: 30px;
        height: 30px;
        left: -55px;
    }

    #contact:before {
        content: "";
        width: 30px;
        height: 30px;
        left: -55px;
    }

    #setting:before {
        content: "";
        width: 30px;
        height: 30px;
        left: -55px;
    }

    #referral:before {
        content: "";
        width: 30px;
        height: 30px;
        left: -55px;
    }
    
    .setting-changepassword-hr-footer
    {
        top: 700px
    }




    form#change-password button {
        width: 160px;
        height: 60px;
        border-radius:10%;
        background-color: #15BEA4;
        position: relative;
        top: 200px;
        left:300px;
        font-family: 'Segoe UI', Tahoma, sans-serif;
        font-size: 30px;
        border: thin solid
    }
}

@media screen and (max-width:768px) {
.container-setting-changepassword {
    display: none;


}
header {
    z-index: 1;
}
.container-setting-changepassword2{
position:  relative;
top: 2px;
width: 100%;
float: left;
display: block;
z-index: 0;
}

.container-setting-changepassword2 .mainList2 {
    background: #2e2d2d;
    position: fixed;
    top: 0;
    z-index:0;
    height: 40px;
    width: 100%;
    border-bottom: 2px solid orange;
}

.container-setting-changepassword2 .mainList2 .sub2{
    float: left;
    margin-left: 80px;
    text-align: center;
    margin-top: 10px;
    position: sticky;
    top: 0;

}

.container-setting-changepassword2 .mainList2 .sub2 a {
    text-decoration: none;
    color: orange
}
.container-setting-changepassword2 .mainList2 .sub2 a:hover {
    color: white;
}
.mainList {
    display: none
}

#dashboard:before {
    content: "";
    background-image: url("img/Dashboard.svg");
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    position: absolute;
    left: -30px;
    top: 0px
}

#activity:before {
    content: "";
    background-image: url("img/Activity.svg");
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    position: absolute;
    left: -30px;
    top: 0px
}


#referral:before {
    content: "";
    background-image: url("img/Referral.svg");
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    position: absolute;
    left: -30px;
    top: 0px
}

#setting:before {
    content: "";
    background-image: url("img/Setting.svg");
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    position: absolute;
    left: -30px;
    top: 0px
}

#contact:before {
    content: "";
    background-image: url("img/contact.svg");
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    position: absolute;
    left: -30px;
    top: 0px
}

/* =======================================Setting Page=========================================== */

#setting-page {
width: 99%;
left: .5%;
}

#setting-page .setting-flex .flex-item a {
font-size: 18px;
}


.flex-item-two  {
font-size: 18px;
}

.change-password input:nth-of-type(1){
    position: absolute;
    margin: 5% 12%;
    width: 200px;
    height: 25px;
    border: 3px solid transparent;
    border-bottom: 2px solid silver !important
}

.change-password input:nth-of-type(2){
    position: absolute;
    margin: 5% 57%;
    width: 200px;
    height: 25px;
    border: 3px solid transparent;
    border-bottom: 2px solid silver !important
}


.setting-changepassword-hr-footer
{
    top: 490px
}

/* Footer */

.setting-changepassword-footer-div {
    top: 910px;
    width: 94%;
    left: 5%;
    position: absolute;
}
.setting-changepassword-footer-paragraph {
    font-size: 18px;
    font-family: sans-serif;
    position: absolute;
    top: -60px;
    left: 230px    
    
}

}



@media screen and (max-width:414px) {

    .container-setting-changepassword {
        display: none;
    
    
    }
    header {
        z-index: 1;
    }
    .container-setting-changepassword2{
    position:  relative;
    top: 2px;
    width: 100%;
    float: left;
    display: block;
    z-index: 0;
    }
    
    .container-setting-changepassword2 .mainList2 {
        background: #2e2d2d;
        position: relative;
        top: 200;
        z-index:0;
        height: 40px;
        width: 100%;
        border-bottom: 2px solid orange;
    }
    
    .container-setting-changepassword2 .mainList2 .sub2{
        float: left;
    margin-left: 35px;
    text-align: center;
    margin-top: 10px;
    top: 0;
    font-size: 13px;
    
    }
    
    .container-setting-changepassword2 .mainList2 .sub2 a {
        text-decoration: none;
        color: orange
    }
    .container-setting-changepassword2 .mainList2 .sub2 a:hover {
        color: white;
    }










    .mainList {
        display: none
    }
    
    #dashboard:before {
        content: "";
        background-image: url("img/Dashboard.svg");
        width: 15px;
        height: 15px;
        background-size: 100% 100%;
        position: absolute;
        left: -20px;
        top: 0px
    }
    
    #activity:before {
        content: "";
        background-image: url("img/Activity.svg");
        width: 15px;
        height: 15px;
        background-size: 100% 100%;
        position: absolute;
        left: -20px;
        top: 0px
    }
    
    
    #referral:before {
        content: "";
        background-image: url("img/Referral.svg");
        width: 15px;
        height: 15px;
        background-size: 100% 100%;
        position: absolute;
        left: -20px;
        top: 0px
    }
    
    #setting:before {
        content: "";
        background-image: url("img/Setting.svg");
        width: 15px;
        height: 15px;
        background-size: 100% 100%;
        position: absolute;
        left: -20px;
        top: 0px
    }
    
    #contact:before {
        content: "";
        background-image: url("img/contact.svg");
        width: 15px;
        height: 15px;
        background-size: 100% 100%;
        position: absolute;
        left: -20px;
        top: 0px
    }
/* =======================================Setting Page=========================================== */

#setting-page {
    width: 99%;
    left: 0%;
}

#setting-page .setting-flex .flex-item a {
    font-size: 13px;
}

.change-password input::placeholder {
    font-size: 13px
}
.change-password input:nth-of-type(1){
    position: absolute;
    margin: 5% 9%;
    width: 120px;
    height: 25px;
    border: 3px solid transparent;
    border-bottom: 2px solid silver !important
}

.change-password input:nth-of-type(2){
    position: absolute;
    margin: 5% 50%;
    width: 120px;
    height: 25px;
    border: 3px solid transparent;
    border-bottom: 2px solid silver !important
}

form#change-password button {
    width: 120px;
    height: 40px;
    border-radius:10%;
    top: 100px;
    left:130px;
    font-size: 20px;
}


.setting-changepassword-hr-footer
{
    top: 290px
}

/* Footer */

.setting-changepassword-footer-div {
    top: 640px;
    width: 94%;
    left: 5%;
    position: absolute;
}
.setting-changepassword-footer-paragraph {
    font-size: 15px;
    font-family: sans-serif;
    position: absolute;
    top: -30px;
    left: 100px    
    
}


}
@media screen and (max-width:375px) {
    .container-setting-changepassword2 .mainList2 {
        width: 375px;
    }

    .container-setting-changepassword2 .mainList2 .sub2{
        float: left;
        margin-left: 30px;
        text-align: center;
        margin-top: 10px;
        top: 0;
        font-size: 13px;
    
    }

    .setting-changepassword-hr-footer
    {
        top: 270px
    }

    .setting-changepassword-footer-div {
        width: 10% !important;
        left: 0%;
        position: absolute;
        top:640px
    }
    
    #setting-changepassword-footer-image {
        width: 100px;
        height: 50px;
    }
    
    .setting-changepassword-footer-paragraph {
        font-size: 15px;
        font-family: sans-serif;
        position: absolute;
        top: -60px;
        left: 100px;
        width: 400px
    }
}


@media screen and (max-width:320px) {
    .Logo_header {
        width: 300px;
        height: 90px;
        position: absolute;
        left: 10px;
    }
    .container-setting-changepassword2 .mainList2 {
        width: 320px;
    }

    .container-setting-changepassword2 .mainList2 .sub2{
        float: left;
        margin-left: 25px;
        text-align: center;
        margin-top: 10px;
        top: 0;
        font-size: 11px;
    
    }





form#change-password button {
    width: 120px;
    height: 40px;
    border-radius:10%;
    top: 100px;
    left:100px;
    font-size: 15px;
}

form#change-password button p {
    font-size: 20px;
}


    .setting-changepassword-hr-footer
    {
        top: 270px
    }

    .setting-changepassword-footer-div {
        width: 10% !important;
        left: 0%;
        position: absolute;
        top:660px
    }
    
    #setting-changepassword-footer-image {
        width: 100px;
        height: 50px;
    }
    
    .setting-changepassword-footer-paragraph {
        font-size: 15px;
        font-family: sans-serif;
        position: absolute;
        top: -60px;
        left: 0px;
        width: 260px
    }
}