#header {
  text-align: center;
  
}
/* ------------------------------Navbar----------------------- */
a {
  text-decoration: none;

}
.header-navbar {
  width: 100%;
  height: 80px;
  background: black;
  color: black;
  font-size: 20px;
  display: flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  -ms-flex-direction: row;
  position: fixed;
  z-index: 2;
  box-shadow: 0px 1.5px 0px 0px #c0c0bc

}
.small {
  padding-left: 10px
}
#header-navbar-logo {
  flex: 1
}
#header-navbar-logo ul li {
  list-style-type: none;
  position: absolute;
}

.big img {
  width: 200px;
  height: 80px;
  left: 20px;
  position: relative;
}

#header-navbar-menu {
  flex: 4;
  left: 200px;
  top: 25px;
  position: relative;
}

#header-navbar-menu ul li {
  list-style-type: none;
  float: left;
  position: relative;
  margin-left: 6%;
  
}
#header-navbar-menu ul li:after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: rgb(255, 187, 0);
  margin: auto;
  transition: all .5s ease;
}

#header-navbar-menu ul li:hover:after {
  width: 100%;
}

#header-navbar-menu ul .login:after , .signup:after {
  background: transparent !important;

}
#header-navbar-menu ul .login , .signup {
  border: 2px solid white;
  padding: 4px 10px 4px 10px;
  border-radius: 4%;
  transition: all .5s ease;
  font-weight: bolder;
  cursor: pointer;

}

#header-navbar-menu ul .login:hover , .signup:hover {
  background: white;
  border: 2px solid #43A047;
} 
.navigation-menu {
  display: none
}
/* --------------------------------------------------------------------------- */

.row h1 {
  margin-top: 80px
}
.headerTheme {
  margin: auto;
  /*background-size: contain;*/
  background-size:100% auto;
  /*width: 100%;*/
  background: black url('../../img/Bitcoin.svg') no-repeat center;
  padding: 2% 0;
  max-width: 100%;
  height: 680px;
  top: 0px !important;
  position: relative;
}
.container {
  box-sizing: border-box
}
.container #text {
  width: 500px !important ; 
  margin-left: 600px;
  color: black;
  line-height: 2.5;  
  /* height: 500px; */
  /* margin-top: -500px; */
  text-align: left;
  font-family: sans-serif;

}

#title {
  font-size : 30px;
  text-align: center !important;
  font-weight: bolder !important;
  
}



#price {
  width: 600px !important;
  margin-left: -510px !important;
  left: 0 !important;
  justify-content: left !important;
  justify-items: left !important;
  margin-top: -300px !important;
}
#sharePlan  {
  position: relative;
  top: 80px;
}
 #priceCompare{
  top: 80px;
  position: relative;
} 

#contact {
  position: relative;
  top: 80px;
}

footer {
  position: relative;
  top: 80px;
}
header h1 { font-size: 50px }
small {font-size: 100%;}
h3 { font-size: 50px }

header h3 {margin: 0;}

header img { height: 175px;margin-bottom: 4%; }

@media only screen and (max-width:1280px) {
    .header-navbar {
      width: 100%;
    }
    .small {
      padding-left: 0px
    }
    
  .container #text {
    width: 500px !important ; 
    margin-left: 600px;
  }

  #price {
    width: 570px !important;
    height: 500px;
  }
}
@media only screen and (max-width: 1024px) {
    header img { height: 100px; }
    header h1 { font-size: 40px }
     h3 { font-size: 40px }
     .headerTheme {height: 500px;}
      
  #header-navbar-menu {
    flex: 4;
    left: 150px;
    top: 25px;
    position: relative;
  }

  #header-navbar-menu ul li {
    margin-left: 3%;
    
  }
    
  .container #text {
    width: 450px !important ; 
    margin-left: 450px;
    /* height: 500px; */
    /* margin-top: -500px; */
  }
 
  #price {
    width: 400px !important;
    margin-left: -510px !important;
    left: 0 !important;
    margin-top: -300px !important;
  }
     
}
@media only screen and (max-width: 768px) {
    header img { height: 90px; }
    header h1 { font-size: 30px }
     h3 { font-size: 30px }

     #header-navbar-menu {
       background: black;;
       height: 360px;
       text-align: left;
       left: -15px;
       top: 82px;
       flex: 10;
       width: 100%;
       display: none;
       margin-left: -95px;

     }
     #header-navbar-menu  ul 
     {
       margin-top: 10px;
       margin-left: 0;
       padding-bottom: 20px;
     }
     #header-navbar-menu  ul li
     {
       margin-top: 10px;
       float: none;
       margin-left: 0;
       padding-bottom: 20px;
       border-bottom: 2px solid rgb(255, 187, 0);
     }
     #header-navbar-menu ul li:hover:after {
      width: 0%;
    }
     .navigation-menu {
       display: block;
       position: fixed;
       top: 10px;
       right: 25px;
     }
      .signup {
       border: thin solid transparent
     }

     .login {
       background: white;
       color: #43A047
    }


    .navigation-menu .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: #d9d9d9;
      margin: 6px 0;
      -webkit-transition: ease .4s;
      -moz-transition: ease .4s;
      -ms-transition: ease .4s;
      -o-transition: ease .4s;
      transition: ease .3s;
    }

      
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .container {
    margin-top: 50px
  }
  .container #text {
    width: 400px !important ; 
    margin-left: 350px;
    /* height: 500px; */
    /* margin-top: 50px !important; */
    font-size: 20px;
  }

  #title {
    font-size : 23px;
    margin-left: -30px
  }


  #price {
    width: 350px !important;
    margin-left: -350px !important;
    left: 0 !important;
    margin-top: -400px !important;
  }
   

}


@media only screen and (max-width: 576px) {
    header img { height: 80px; }
    header h1 { font-size: 20px }
     h3 { font-size: 20px }
     #header-navbar-menu {
      left: -15px;
      margin-left: -80px;

    }

    .container #text {
      width: 400px !important ; 
      margin-left: 50px;
    }
    
    #title {
      font-size : 23px;
    }
    
    #price {
      width: 400px !important;
      margin-left: -10px !important;
      margin-top: -00px !important;
    }
}

@media only screen and (max-width: 420px) {
    header img { height: 60px; }
    header h1 { font-size: 20px; }
     h3 { font-size: 15px; }
     #priceCompare h2 {
      font-size: 20px;
     }
     #contact h2 {
      font-size: 15px;
     }
     .headerTheme {
      height: 380px;
     }
     #sharePlan h3 { letter-spacing: 0px;margin-top: 2%; }
     #myModal h2 {font-size: 20px;}
     .responsive-circle {
       height: 40px;width: 40px;
       padding: 0rem 0rem;line-height: 35px;
     }
     #header-navbar-menu {
      left: -0px;
      margin-left: -50px;
      height: 270px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 5px

    }

    #header-navbar-menu  ul li{
      margin-top: 5px;
      padding-bottom: 8px;
      margin-left: -30px;
    }

    .container #text {
      width: 360px !important ; 
      margin-left: 10px;
    }
    
    #title {
      font-size : 23px;
    }
    
    #price {
      width: 330px !important;
      margin-left: -10px !important;
      margin-top: -100px !important;
    }
}

@media screen and (max-width: 375px) {
  #header-navbar-menu {
    left: -0px;
    margin-left: -40px;
    height: 270px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 5px

  }

  #header-navbar-menu  ul li{
    margin-top: 5px;
    padding-bottom: 8px;
    margin-left: -30px;
  }

  .container #text {
    width: 340px !important ; 
    margin-left: 0px;
  }
  
  #title {
    font-size : 23px;
  }
  
  #price {
    width: 300px !important;
    margin-left: -10px !important;
    margin-top: -100px !important;
  }
}


@media screen and (max-width: 320px) {
  .big {
    left: 5px;
  }
  .navigation-menu {
    right: 5px;
    top: 20px;
  }
  #header-navbar-menu {
    left: -0px;
    margin-left: -45px;
    height: 270px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 5px

  }

  #header-navbar-menu  ul li{
    margin-top: 5px;
    padding-bottom: 8px;
    margin-left: -30px;
  }
  #priceCompare h2 {
    font-size : 15px !important;

  }
  
  .container #text {
    width: 300px !important ; 
    margin-left: 0px;
    font-size: 13px !important
  }
  .container #text p {
    font-size: 13px 
  }
  #title {
    font-size : 20px !important;
  }
  
  #price {
    width: 250px !important;
    margin-left: -10px !important;
    margin-top: -100px !important;
  }
}
/*color for selected text*/
::selection {
  background: #ffb7b7;
}

.backgroundGrey{
  background-color: #DBDBDB;
}

.backgroundMoreGrey{
  background-color: #8B8B8B;
}


.fontTheme{
  font-family: Helvetica,Arial,sans-serif,Lora,Helvetica Neue;
  color: #696967;
}

.round-input{
  border-radius: 100px 0 0 100px;
  background-color: #5a6268;

}
.round-input:focus{
  background-color: #5a6268;
}

.round-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #DBDBDB;
  opacity: 1; /* Firefox */
}

.round-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #DBDBDB;
}

.round-input::-ms-input-placeholder { /* Microsoft Edge */
  color: #DBDBDB;
}

.round-button{
  border-radius: 0 100px 100px 0;
  border: none;
}

.round-button-com{
  border-radius: 100px 100px 100px 100px;
  border: none;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #15BEA4;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #15BEA4
;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.form {
  /*position: relative;*/
  /*z-index: 1;*/
  /*background: #FFFFFF;*/
  max-width: 560px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
