

/* User Account */

.useraccount {
    position: absolute;
    top: 0px;
    margin-left:90%;
    width: 0px;
    left: 0;
    background-color: transparent;
    border-bottom: transparent;
    cursor: unset;
}
.useraccount .list {
    width: 200px;
    height: 110px;
    border-radius: 10px;
    margin-top: 100px;
    margin-left:0%;
    background-color: white;
    box-shadow: 2px 3px 10px 1px silver;
    display: none;
}
.useraccount .list  {
    margin-left: -135px
}
.useraccount .list:after {
    content: '';
    position: absolute;
    /* border-top:20px solid rgba(0, 0, 0, 0.53); */
    border-left:18px solid transparent;
    border-right:18px solid transparent;
    border-bottom: 18px solid white;
    margin-left: 140px;
    top:-18px;
    transition: all 1s

}

.useraccount .list ul li {
    list-style-type: none;
    width: 200px;
    /* height: 50%; */
    padding-bottom: 20px;
    text-align: center;
    left: 0;
    margin-left: 0px;
    position: relative; 
    font-family: sans-serif;
    font-weight: bold;
    transition: all .5s ease-in;
    cursor: pointer;

}

#usericon:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/user-solid.svg");
    background-size: 100% 100%;
    position: relative;
    left: 3vh;
    top: 3vh
    
}

#usericon {
    border-bottom: 1px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#usericon:hover{
    background-color: black;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

#logouticon {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
#logouticon:hover {
    background-color: black;
    height: 33px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}


#usericon:hover::before ,#logouticon:hover::before{
    border: 1px solid white;
    border-radius: 15%;
    background-color: white
}

#logouticon:before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/sign-out-alt-solid.svg");
    background-size: 100% 100%;
    position: relative;
    left: 3vh;
    top: 3vh;
}

.user-img
{
    width: 40px;
    height: 40px;
    margin-left: 30%;
    margin-top: 20px;
    border:2px solid rgb(224, 210, 210);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    cursor: pointer;
}

/* CONTACT */

.mainContainer
{
    background-color: #FFFDE8;
    margin-top: -100px
}
body {
    background-color: #FFFDE8

}

ul {
    list-style-type: none;
}

/* Header */

header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 110px;
    background-color: black;
    font-size: 50px;
    position: fixed;
    z-index: 2000;
}

#header-div {
    border-bottom: 4px solid orange;
    width: 100%;
    height: 110px;
    position: fixed;
    z-index: 2000;

}

.Logo_header {
    width: 700px;
    height: 90px;
    position: fixed;
    left: -120px;
    z-index: 2000;

}



/* Menu */
.container {
    width: 370px;
    background: rgb(39, 38, 38);
    border-top: 4px solid orange;
    position: fixed;
    top: 110px;
    height: 100%;
    left: 0
}

.container .mainList {
    background: white;
    width: 370px;
}

.container .navbar {
    height: 130px;
    border-bottom: 2px solid #727272;
    background: rgb(39, 38, 38);
    font-family: sans-serif;
}

.Logo_In_NavBar {
    width: 250px;
    height: 400px;
    left: 50px;
    position: absolute;
    top: -170px
}


div ul .navbar #welcome {
    font-size: 20px;
    color: white;
    position: absolute;
    left: 110px;
    top: 90px;
    text-decoration: none
}

.container .mainList .sub {
    color: orange;
    height: 60px;
    border-bottom: 2px solid #727272;
    font-size: 30px;
    background: rgb(39, 38, 38);
    padding-bottom: 10px;
    text-align: center;
    font-family: sans-serif
}

.container .mainList .sub a {
    color: orange;
    text-decoration: none;
    padding-top: 20px;
    position: relative;
    left: -40px;
    top: 30%
}

.container .mainList .sub a:hover {
    color: white;
}

.container .mainList .sub {
    color: orange;
    height: 60px;
    border-bottom: 2px solid #727272;
    font-size: 30px;
    background: rgb(39, 38, 38);
    padding-bottom: 10px;
    text-align: center;
    font-family: sans-serif
}


.sub:after {
    background-image: url("../img/Arrow.svg");
    width: 1em;
    height: 1em;
    margin-top: 25px;
    content: "";
    left: 300px;
    background-size: 100% 100%;
    position: absolute;
}

#dashboard:before {
    content: "";
    background-image: url("../img/Dashboard.svg");
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    position: absolute;
    left: -60px;
    top: 15px
}

#activity:before {
    content: '';
    background-image: url("../img/Activity.svg");
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    position: absolute;
    left: -80px;
    top: 15px
}


#referral:before {
    content: "";
    background-image: url("../img/Referral.svg");
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    position: absolute;
    left: -80px;
    top: 15px
}

#setting:before {
    content: "";
    background-image: url("../img/Setting.svg");
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    position: absolute;
    left: -85px;
    top: 15px
}

.contact {
    border-bottom: 1px solid transparent !important
}

#contact {
color: orange !important}

#contact:hover {
    color: white !important
}
#contact:before {
    content: "";
    background-image: url("../img/contact.svg");
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    position: absolute;
    left: -80px;
    top: 18px
}

/* Setting Page */

#setting-page {
    width: 72%;
    margin-left: 27.5% !important;
    margin-top: 200px;
}

.setting-flex {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.flex-item
{
    flex-grow: 1;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    margin-top: 5px;
    height: 50px;
    text-align: center;
}

#setting-page .setting-flex .flex-item  {
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
}

#setting-page .setting-flex .flex-item a {
    text-decoration: none;
    color: #2e2d2d;    
    font-size: 20px;
    position: relative;
    top: 10px
}

#setting-page .setting-flex .flex-item a:hover {
    color: orange
}


.flex-item.two {
    border-left: 2px solid 
}
 
/* ------------setting-information---------- */
.setting-information  {
    margin-top: 10%;
    display: block;

}

.setting-information q:nth-of-type(1) {
    font-size: 25px;
    color: #2e2d2d;
    font-weight: bolder;
    margin-left: 12%;
}

.setting-information q:nth-of-type(1):before {
    content: '';
    width: 40px;
    height: 40px;
    background-image: url('img/user-solid.svg');
    position: absolute;
    background-size: 100% 100%;
    margin-left: -4.8%;
    margin-top: -1%
}

.setting-information input#text {
    background-color: #FFFDE8;
    width: 300px;
    height: 30px;
    margin-top: 3%;
    border: 3px solid transparent;
    margin-left: 15%;
    border-bottom: 1px solid black;

}

.setting-information #textbefore {
    margin-top: 8%;
    margin-left: 10%;
    font-size: 25px;
    font-family: sans-serif;
    color: #727272
}
.setting-information input#email {
    background-color: #FFFDE8;
    width: 300px;
    height: 30px;
    margin-top: 3%;
    border: 3px solid transparent;
    margin-left: 15%;
    border-bottom: 1px solid black;

}


.setting-information q:nth-of-type(2) {
    font-size: 30px;
    color: #2e2d2d;
    font-weight: bolder;
    margin-left: 12%;
}

.setting-information q:nth-of-type(2):before {
    content: '';
    width: 40px;
    height: 40px;
    background-image: url("img/key__security__password__open_2538749.svg");
    background-size: 100% 100%;
    position: absolute;
    transform: rotate(-90deg);
    margin-left: -5%
}

.setting-information input#cur-password {
    background-color: #FFFDE8;
    width: 300px;
    height: 30px;
    margin-top: 3%;
    border: 3px solid transparent !important;
    margin-left: 15%;
    border-bottom: 1px solid black;
}


.setting-information input#newpassword {
    background-color: #FFFDE8;
    width: 300px;
    height: 30px;
    margin-top: 3%;
    border: 3px solid transparent;
    margin-left: 15%;
    border-bottom: 1px solid black;
}


.setting-information input#Confirmpassword {
    background-color: #FFFDE8;
    width: 300px;
    height: 30px;
    margin-top: 3%;
    border: 3px solid transparent;
    margin-left: 15%;
    border-bottom: 1px solid black;
}

.setting-information input#submit
{
    width: 100px;
    height: 40px;
    background-color:#15BEA4;
    margin-left: 30%;
    border-radius: 8%;
    font-size: 20px;
    color: white;
    font-family: sans-serif;

}
.setting-information input::placeholder { font-size: 20px}


/* Wallet 1 */
.wallet1 {
    display: none;
}
.wallet1 p {
    font-size: 19px;
    margin: 5% 24%;
    color: dimgrey;
    font-family: sans-serif;
}

.wallet1 q {
    margin: 10% 47%;;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #2e2d2d;
}

.wallet1 blockquote {
    margin: 7% 37%;;
    font-family: sans-serif;
    font-size: 20px;
    color: #2e2d2d;
    width: 300px
}

.wallet1 input#textwallet{
    position: absolute;
    margin: 0% 20%;
    width: 400px;
    height: 25px;
    border: 3px solid transparent;
    border-bottom: 1px solid black !important;
    background-color: #FFFDE8
}


.wallet1 input#buttonwallet {
    width: 120px !important;
    height: 60px;
    background-color:#15BEA4;
    margin-left: 43%;
    font-size: 20px;
    margin-top: 5%;
    border-radius: 8%;
    color: white;
    font-family: sans-serif;
}
/* ----------Make Wallet----------- */



.make-wallet {
    display: block

}
#make-wallet-title {
    font-size: 30px;
    color: #2e2d2d;
    position: relative;
    top: 90px;
    margin-left: 28%;
    font-weight: bolder;
    font-family: sans-serif;
}


.address {
    width: 000px;
    height: 0px;
    margin-top: 100px;
}

.address .address-img {
    width: 170px;
    height: 170px;
    position: relative;
    top: 50px;
    left: 100px
}

.address .address-box .icon {
    width: 25px;
    height: 25px;
    padding: 5px;


}
.address .address-box {
    float: left;
}
.address .address-box div {
    float: left;
    border: 4px solid silver;
    border-radius: 50%;
    margin-left: 20px;
    position: relative;
    top: 2px;
    height: 40px;
    left: 250px;
}

.address-box {
    position: relative;
    left: 140px;

}


.address-box input {
    position: relative;
    top: -50px;
    width: 380px;
    height: 30px;
    left: 170px;
    border: 1px solid transparent;
    border-bottom: 1px solid silver;
    background-color: #FFFDE8

}


.address-box input::placeholder {
    text-align: center;
    font-size: 22px
}

.change-address {
    position: relative;
    top: 270px;
    margin-left: 400px;
}

.change-address input {
    background-color: #FFFDE8
}

.change-address input {
    width: 380px;
    height: 30px;
    left: -100px;
    position: relative;
    top: 00px;
    border: 1px solid transparent;
    border-bottom: 1px solid silver
}


.change-address input::placeholder {
    text-align: center;
    font-size: 22px
}


#make-wallet-title2 {
    font-size: 30px;
    color: #2e2d2d;
    position: relative;
    top: 290px;
    margin-left: 27%;
    font-weight: bolder;
    font-family: sans-serif;
}

.address-box a {
    left: 250px;
    margin-left: 25px;
    position: relative;
}

.make-wallet input#makewalletsubmit {
    width: 120px !important;
    height: 60px !important;
    background-color:#15BEA4 !important;
    font-size: 20px !important;
    border-radius: 8% !important;
    color: white;
    font-family: sans-serif;
    position: absolute;
    left:50px;
    top: 80px;
}


/* ------------------------ */

#setting-hr-footer {
    width: 99.8%;
    display: block;
}
#makewallet-footer-div {
    width: 72%;
    margin-left: 28%;
    margin-top: 50%
        
    }
#footer-div {
    width: 72%;
    margin-left: 28%;
    margin-top: 50%

}


.setting-footer-paragraph {
    font-size: 20px;
    font-family: sans-serif;
    top: -60px;
    margin-left: 30%
    
}

#setting-footer-image {
    width: 200px;
    height: 100px;
}


/* Contact - Media - 1024 */
@media screen and (max-width:1024px){
    /* ---------------=====Media====-------------Main Container--------------------------- */

    .useraccount .list {
        display: none;
    }
    .container {
        width: 270px;
    }

    .container .mainList {
        width: 270px
    }

    .container .mainList .navbar .Logo_In_NavBar{
        width: 210px;
        height: 370px;
        left: 30px;
        position: absolute;
        top: -170px;
    }

    div ul .navbar #welcome {
        font-size: 17px;
        left: 70px;
    }


    .container .mainList .sub {
        height: 60px;
        font-size: 25px;
        padding-bottom: 10px;
    }


    .container .mainList .sub a {
        left: -10px;
        top: 30%
    }


    .sub:after {
        width: 1em;
        height: 1em;
        content: "";
        left: 85%;
    }


    #dashboard:before {
        content: "";
        width: 30px;
        height: 30px;
        left: -40px;
    }

    #activity:before {
        content: "";
        width: 30px;
        height: 30px;
        left: -55px;
    }

    #contact:before {
        content: "";
        width: 30px;
        height: 30px;
        left: -55px;
    }

    #setting:before {
        content: "";
        width: 30px;
        height: 30px;
        left: -55px;
    }

    #referral:before {
        content: "";
        width: 30px;
        height: 30px;
        left: -55px;
    }
    /* Make wallet */
        
    
    #make-wallet-title {
        margin-left: 17%;
        left: 0
    }
    
    .address .address-img {
        width: 140px;
        height: 140px;
        left: 40px
    }

    .address .address-box div {
        left: 250px;
    }

    .address-box {
        left: 40px;
    }

    .address-box input {
        left: 170px;
        width: 300px;
    }

    .address-box input::placeholder {
        font-size: 18px
    }

    .change-address {
        top: 270px;
        width: 300px;
        margin-left: 300px;
    }

    .change-address input {
        width: 300px;
        left: -100px;
        top: -50px;
    }

    .change-address input::placeholder {
        font-size: 18px
    }


    #make-wallet-title2 {
        margin-left: 17%;
    }

    .make-wallet input#makewalletsubmit {
        left:0px;
    }
    #makewallet-footer-div {
        margin-top: 630px;
        margin-left: 26.5%
            
        }
    /* Footer */
    .hr-footer
    {
        width: 70%;
        top:980px
    }

    .footer-div {
        left: 0px;
    }

}


/* Contact - Media - 768 */
@media screen and (max-width:768px) {
    body {
        background-color: #FFFDE8
    }
    header {
        z-index: 2;
    }
    .container {
        display: none;
    }
    .mainContainer {
        display: none
    }
    .container{
        /* display: block; */
        position:  relative;
        top: 22px;
        width: 100%;
        border-bottom: 0px solid transparent;
        float: left;
    }

    .useraccount .list {
        
        display: none;
    }

    .mainList {
        display: none
    }

    #dashboard:before {
        content: "";
        background-image: url("img/Dashboard.svg");
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
        position: absolute;
        left: -30px;
        top: 0px
    }

    #activity:before {
        content: "";
        background-image: url("img/Activity.svg");
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
        position: absolute;
        left: -30px;
        top: 0px
    }


    #referral:before {
        content: "";
        background-image: url("img/Referral.svg");
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
        position: absolute;
        left: -30px;
        top: 0px
    }

    #setting:before {
        content: "";
        background-image: url("img/Setting.svg");
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
        position: absolute;
        left: -30px;
        top: 0px
    }

    #contact:before {
        content: "";
        background-image: url("img/contact.svg");
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
        position: absolute;
        left: -30px;
        top: 0px
    }


    /* Setting Page */

    #setting-page {
        width: 99%;
        margin-left: 0% !important;
    }


    /* ------------setting-information---------- */
    .setting-information  {
        margin-left: 0%;
        width: 100%;
    }
        
    .make-wallet input#makewalletsubmit {
        top: 60px;
    }

    form {
        border-bottom: 2px solid transparent
    }
    /* Footer */

    .hr-footer {
        top: 800px
    }
    #makewallet-footer-div {
    margin-top: 530px;
        
    }



    #footer-div {
        top:960px;
        width: 100%;
        margin-left: 0% !important;
        left: 0 !important;
        margin-top: 100px;
    }
    .footer-paragraph {
        font-size: 18px;
        top: -60px;
        left: 230px

    }

    #footer-image {
        left: 0%;
    }

    .useraccount .list {
        
        display: none;
    }
}


/* Contact - Media - 414 */
@media screen and (max-width: 414px) {

    body {
        background-color: #FFFDE8
    }
    header {
        z-index: 2;
    }
    .Logo_header {
        width: 300px ;
        height: 90px;
        position: absolute;
        left: 20px;
    }
    .container {
        display: none;
    }
  
    .mainList {
        display: none
    }

    #dashboard:before {
        content: "";
        background-image: url("img/Dashboard.svg");
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
        position: absolute;
        left: -30px;
        top: 0px
    }

    #activity:before {
        content: "";
        background-image: url("img/Activity.svg");
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
        position: absolute;
        left: -30px;
        top: 0px
    }


    #referral:before {
        content: "";
        background-image: url("img/Referral.svg");
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
        position: absolute;
        left: -30px;
        top: 0px
    }

    #setting:before {
        content: "";
        background-image: url("img/Setting.svg");
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
        position: absolute;
        left: -30px;
        top: 0px
    }

    #contact:before {
        content: "";
        background-image: url("img/contact.svg");
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
        position: absolute;
        left: -30px;
        top: 0px
    }

    .hr-footer {
        top: 800px
    }

    /* Setting Page */

    #setting-page {
        width: 100%;
        margin-top: 200px;
    }
    
    #setting-page .setting-flex .flex-item a {
        font-size: 15px;
    }

    /* ------------setting-information---------- */

    .setting-information q:nth-of-type(1) {
        font-size: 20px;
        margin-left: 14%;
    }

    .setting-information q:nth-of-type(1):before {
        width: 25px;
        height: 25px;
        margin-left: -7.8%;
        margin-top: -1.3%
    }

    .setting-information input#text {
        width: 200px;
    }

    .setting-information #textbefore {
        font-size: 18px;
    }
    .setting-information input#email {
        width: 200px;
    }


    .setting-information q:nth-of-type(2) {
        font-size: 23px;
        margin-left: 14%;
    }

    .setting-information q:nth-of-type(2):before {
        content: '';
        width: 30px;
        height: 30px;
        margin-left: -8%
    }

    .setting-information input#cur-password {
        width: 200px;
        margin-left: 15%;
    }

    .setting-information input#newpassword {
        width: 200px;
        margin-left: 15%;
    }

    .setting-information input#Confirmpassword {
        width: 200px;
    }

    .setting-information input#submit
    {
        margin-top: 4%
    }
    .setting-information input::placeholder { font-size: 15px}


    /* Wallet 1 */
    .wallet1 {
        display: none;
    }
    .wallet1 p {
        font-size: 15px;
    }

    .wallet1 q {
        font-size: 25px;
    }

    .wallet1 blockquote {
        margin: 7% 27%;
        font-size: 15px
    }

    .wallet1 input#textwallet{
        width: 200px;
        margin-left: 25%
    }


    .wallet1 input#buttonwallet {
        width: 100px !important;
        height: 40px;
        margin-left:40%;
        font-size: 18px;
        margin-top: 10%;
    }
    /* ----------Make Wallet----------- */

    .make-wallet {
        display: block
    }
    #make-wallet-title {
        font-size:20px;
        margin-left: 15%;
    }

    .address .address-img {
        width: 100px;
        height: 100px;
        left: 10px
    }


    .address-box {
        position: relative;
        left: 40px;
    }

    .address-box input {
        width: 200px;
        left: 100px;
    }

    .address-box input::placeholder {
        text-align: center;
        font-size: 13px
    }

    .change-address {
        top: 170px;
        margin-left: 100px;
    }

    .change-address input {
        width:200px;
        left: 00px;
        top: -70px;
    }

    .change-address input::placeholder {
        font-size:13px
    }

    #make-wallet-title2 {
        font-size: 18px;
        top: 190px;
        margin-left: 17%;
    }


    .make-wallet input#makewalletsubmit {
        width: 100px !important;
        height: 40px !important;
        left:50px;
        top: 60px;
    }


/* Footer */
    #makewallet-footer-div {
        margin-top: 500px

    }
    #footer-div {
        width: 100% !important;
        left: 0%;
        display: block;
        margin-top: 100px
    }

    #setting-footer-image {
        width: 150px;
        height: 75px;
    }

    .setting-footer-paragraph {
        font-size: 15px;
        font-family: sans-serif;
        top: 0px;
        width: 260px
    }

}


/* Contact - Media - 375 */
@media screen and (max-width: 375px) {
    .Logo_header {
        width: 100px !important;
        height: 90px;
        position: absolute;
        left: 10px;
    }
            
    #header-div a img{
        width: 100px !important;

    }
    #dashboard:before {
        content: "";
        background-image: url("img/Dashboard.svg");
        width: 17px;
        height: 17px;
        background-size: 100% 100%;
        position: absolute;
        left: -25px;
        top: 0px
    }

    #activity:before {
        content: "";
        background-image: url("img/Activity.svg");
        width: 17px;
        height: 17px;
        background-size: 100% 100%;
        position: absolute;
        left: -25px;
        top: 0px
    }


    #referral:before {
        content: "";
        background-image: url("img/Referral.svg");
        width: 17px;
        height: 17px;
        background-size: 100% 100%;
        position: absolute;
        left: -25px;
        top: 0px
    }

    #setting:before {
        content: "";
        background-image: url("img/Setting.svg");
        width: 17px;
        height: 17px;
        background-size: 100% 100%;
        position: absolute;
        left: -25px;
        top: 0px
    }

    #contact:before {
        content: "";
        background-image: url("img/contact.svg");
        width: 17px;
        height: 17px;
        background-size: 100% 100%;
        position: absolute;
        left: -25px;
        top: 0px
    }
        
    #setting-hr-footer {
        width: 100%;
        display: block;
    }

    .make-wallet input#makewalletsubmit {
        left:50px;
        top: 60px;
    }
    #makewallet-footer-div {
        margin-top: 500px

    }
    #footer-div {
        margin-top: 100px
    }

    .setting-footer-paragraph {
        font-size:15px;
        top: -60px;
        margin-left: 10%
    }

    #setting-footer-image {
        width: 150px;
        height: 100px;
    }
}

/* Contact - Media - 320 */
@media screen and (max-width:320px) {
    .Logo_header {
        width: 100px !important;
        height: 90px;
        position: absolute;
        left: 10px;
    }
            
    #header-div a img{
        width: 100px !important;

    }
    .useraccount {
        margin-left:80%;
    }

    #dashboard:before {
        content: "";
        background-image: url("img/Dashboard.svg");
        width: 15px;
        height: 15px;
        background-size: 100% 100%;
        position: absolute;
        left: -22px;
        top: 0px
    }

    #activity:before {
        content: "";
        background-image: url("img/Activity.svg");
        width: 15px;
        height: 15px;
        background-size: 100% 100%;
        position: absolute;
        left: -22px;
        top: 0px
    }


    #referral:before {
        content: "";
        background-image: url("img/Referral.svg");
        width: 15px;
        height: 15px;
        background-size: 100% 100%;
        position: absolute;
        left: -22px;
        top: 0px
    }

    #setting:before {
        content: "";
        background-image: url("img/Setting.svg");
        width: 15px;
        height: 15px;
        background-size: 100% 100%;
        position: absolute;
        left: -22px;
        top: 0px
    }

    #contact:before {
        content: "";
        background-image: url("img/contact.svg");
        width: 15px;
        height: 15px;
        background-size: 100% 100%;
        position: absolute;
        left: -22px;
        top: 0px
    }

    
    /* Wallet 1 */
    .wallet1 {
        display: none;
    }
    .wallet1 p {
        font-size: 12px;
    }

    .wallet1 q {
        font-size: 20px;
    }

    .wallet1 blockquote {
        margin: 7% 20%;
        font-size: 15px
    }

    .wallet1 input#textwallet{
        width: 150px;
        margin-left: 25%
    }


    .wallet1 input#buttonwallet {
        width: 80px !important;
        height: 40px;
        margin-left:35%;
        font-size: 18px;
        margin-top: 15%;
    }
    /* ----------Make Wallet----------- */

    .make-wallet {
        display: block
    }
    #make-wallet-title {
        font-size:15px;
        margin-left: 12%;
    }

    .address .address-img {
        width: 100px;
        height: 100px;
        left: 100px;
        top: 20px;

    }


    .address-box {
        position: relative;
        left: 40px;
        top: 100px
    }

    .address-box input {
        width: 200px;
        left: 20px;
    }

    .address-box input::placeholder {
        font-size: 12px
    }

    .change-address {
        top: 200px;
        margin-left:60px;
    }

    .change-address input {
        width:200px;
        top: -70px;
    }

    .change-address input::placeholder {
        font-size:12px
    }

    #make-wallet-title2 {
        font-size: 13px;
        top: 230px;
        margin-left: 17%;
    }

    .make-wallet input#makewalletsubmit {
        left:50px;
        top: 60px;
    }
    #makewallet-footer-div {
        width: 100%;
        margin-left: 0%;
        margin-top:600px
    }
        
    #footer-div {
        width: 100%;
        margin-left: 0%;
        margin-top: 100px

    }


    .setting-footer-paragraph {
        font-size: 12px;
        font-family: sans-serif;
        top: -60px;
        margin-left: 10%
        
    }

    #setting-footer-image {
        width: 100px !important;
        height: 100px;
    }      

}





